---
tituloPagina: Rights
titulo: Rights
permalink: "en/rights/"
hero:
  image: "/imagenes/encabezados/derechos.png"
  imageAlt: "Human Rights on the Internet"
  title: Human Rights on the Internet
translationKey: "Derechos"
tag: derechos
---

<div class="menu-flotante">
  <ul>
    <li>
      <a href="#derechos-humanos-internet">Human Rights on the Internet</a>
    </li>
    <li>
      <a href="#violencia">Violence</a>
    </li>
    <li>
      <a href="#herramientas">Recommendations to protect our LGBTQI+ community</a>
    </li>
    <li>
      <a href="#justicia">Justice</a>
    </li>
  </ul>
</div>

<div class="derechos-interior pin-trigger">
  <div class="seccion-derechos-humanos-internet">
    <div class="centrar-contenido">
      <h2 class="electric-blue" id="derechos-humanos-internet">
        Human Rights on the Internet
      </h2>

      <details open>
        <summary>
          Privacy
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          It is the right of everyone to be free from arbitrary interference.
          It is not about hiding or concealing things we want to keep secret:
          it is the right to choose when and for what purposes the person wants
          to disclose certain information. Privacy protects against
          discrimination in access to housing, employment, health and other
          rights for a dignified life. For example: coming out safely and
          finding a trustworthy community to connect with can be a difficult
          task. LGBTQI+ people risk losing family and friends when they
          publicly acknowledge their status, so they often look to online
          networks and communities for help. It also allows the community to
          seek information about their rights and how to address their rights
          to not be discriminated against.
        </p>
      </details>

      <details>
        <summary>
        Freedom of expression
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Everyone has the right to freedom of thought and expression.
          "This right shall include freedom to seek, receive and impart
          information and ideas of all kinds, regardless of frontiers, either
          orally, in writing or in print, in the form of art, or through any
          other media of his choice." Article 13 of the American Convention on
          Human Rights. In the same sense, Article 19 of the International
          Covenant on Civil and Political Rights recognizes this right.
        </p>
        <p>
          This is an essential right because it protects the expressions and
          opinions of all people, including the LGBTQI+ community on the Internet.
          For example, you can share your ideals and values on the social network
          Twitter without receiving employment discrimination.
          You cannot be forced to create profiles or have a certain Internet
          behavior (likes and comments, photos, etc.) on your social network.
        </p>
      </details>

      <details>
        <summary>
          Anonymity on the Internet
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
           It is an intrinsic right to freedom of expression and serves to avoid
           reprisals and persecution for the full exercise of rights in the
           digital environment. It reduces the risk of violence and stigmatization,
           which disproportionately affects this community. In this sense, anonymity
          is also an ally to protect the exercise of sexual and reproductive
          rights on the Internet. For example, it allows anonymous profiles
          of individuals and groups to express their sexual and gender
          identity rights on the Internet.
          Learn more on
          <a href="https://derechosdigitales.org/anonimato/" target="_blank"
          >the right to anonymity website.</a
          >
        </p>
      </details>

      <details>
        <summary>
          Freedom of peaceful assembly and demonstration
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          These are fundamental rights and guarantee that everyone can meet in
          groups, demonstrations, parties, unions or unite for a particular purpose.
          The right to peaceful assembly includes the right to hold meetings,
          sit-ins, strikes, rallies, events or mass demonstrations, both online
          and offline. It constitutes a means for the exercise of many other
          rights such as freedom of expression and the right to participate in
          the conduct of political affairs. The Internet brings new contours to
          these freedoms and allows the LGBTQI+ community the opportunity to
          demonstrate on the Internet in a massive way through hashtags, public
          and anonymous profiles, memes and other formats to express their
          dissent in the face of inequalities.
        </p>
      </details>

      <details>
        <summary>
          Right to freedom of artistic expression
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          This is a fundamental aspect of cultural rights. This right includes
          the freedom to seek, receive and impart information and ideas of all
          kinds, "in artistic form", the right "to enjoy the arts" and the
          creativity of others, and also includes obligations on the part of
          States to respect the freedom indispensable for creative activity"(<a
            href="https://undocs.org/es/A/HRC/23/34"
            target="_blank"
            >A/HRC/23/34</a
          >, 2013).
          This allows the LGBTQI+ community to express and create their artistic
          works without reprisals also on the Internet. And that States do not
          block access to this artistic works on the Internet. Learn more:
          <a href="https://expo.tedic.org/es/" target="_blank"
            >Expo Pop-Up Tech- TEDIC.</a
          >.
        </p>
      </details>

      <details>
        <summary>
          Sexual and reproductive rights on the Internet:
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Sexual identity and gender identity are integral aspects of each
          person's individuality and should never be a reason for discrimination
          or abuse.
        </p>

        <p>
          Sexting is a form of sexual freedom that consists of sharing one's
          body on the Internet through images, videos, texts and audios to other
          people. This action contributes to our self-determination in the area
          of sexuality, with no limitations other than respect for the freedom
          of others. This power expands when using one's own body at will on
          the Internet. Sexting is an exercise of the sexual and reproductive
          right, which implies the individual, interpersonal and social
          well-being of each person.
          For example: this right allows you to send intimate photos to others
          with mutual consent.
          Right to a life free of gender-based violence: on the Internet we have
          the right to a life free of gender-based violence and this also
          impacts LGBTQI+ communities. For example, this right allows LGBTQI+
          people to surf the Internet without anyone disturbing their peace of
          mind, integrity and safety.
        </p>
      </details>

      <details>
        <summary>
          Right to a life free of gender violence
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
        On the Internet we have the right to a life free of gender violence
        and this also impacts the LGTBIQ+ communities. For example, this right
        allows LGTBIQ+ people to browse without anyone disturbing their
        tranquility, integrity and security.
        </p>
      </details>
    </div>
  </div>
  <div class="seccion-violencia">
    <div class="centrar-contenido">
      <h2 class="hot-pink" id="violencia">VIOLENCE</h2>
      <h3 class="rosa-claro">Types of violence affecting the community</h3>

      <p class="parrafo-importante">
        Normalization of violence to LGBTQI+ people on the Internet has prevented
        women from meaningfully exercising their right to freedom of expression:
        a precondition and essential for equal participation. Some of the forms
        of digital violence include:
      </p>

      <h4>Hate speech</h4>
      <p>
        This type of violence is prohibited by the American doctrine of freedom
        of expression (Art 13 of the American Convention on Human Rights).
        Hate speech on the Internet refers to any use of electronic
        communications technology to disseminate homophobic, anti-Semitic,
        racist, bigoted, extremist or terrorist messages or information.
        These electronic communications technologies include all platforms on
        the Internet: websites, social networking sites, user-generated content
        on the web, dating sites, blogs, online games, instant messaging and
        email, as well as other computers and cell phones.
      </p>

      <h4>Cyberbullying</h4>
      <p>
        It is the intentional and repeated harm inflicted using computers,
        cell phones and other electronic devices".
      </p>

      <p>
        This type of violence must include the following elements (according to
        the Cyberbulling Research Center):
      </p>
      <ul class="lista-cyber">
        <li>
          <h5>Willful</h5>
          The behavior has to be deliberate, not accidental.
        </li>
        <li>
          <h5>Repeated</h5>
          The bullying reflects a pattern of behavior, not just an isolated incident.
        </li>
        <li>
          <h5>Harmful</h5>
          The target must perceive that harm has been inflicted on him or her.
        </li>
        <li>
          <h5>Technology</h5>
          The use of computers, cell phones and other electronic devices.
          This is the main element to differentiate from traditional bullying.
        </li>
      </ul>
      <div class="source">Fuente: Cyberbullying Research Center</div>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-1.svg" alt="" />
      </div>

      <h4>Dissemination of non-consensual intimate image</h4>
      <p>
        It is the publication of content, generally images with explicit or
        suggestive sexual content, without the consent of the person depicted
        and which were taken within a private environment. Images with sexual
        content are typically distributed in mass media such as the Internet,
        both by ex-partners and by strangers with unauthorized access to intimate
        images and recordings of the victim. Learn more: Dissemination of
        non-consensual intimate images - TEDIC
      </p>

      <h4>Online harassment</h4>
      <p>
        Consists of one or more persons using technology to monitor, harass,
        stalk, harass, ambush or seek to establish contact or proximity with a
        person in such a way as to disrupt the normal conduct of his or her
        daily life. These are acts that may occur on a one-time or repetitive
        and unsolicited basis, against a person, groups of people or organization
        that are perceived as intrusive or threatening. Learn more: Gender-based
        violence through digital media in Latin America.
      </p>

      <h4>Coordinated attacks</h4>
      <p>
        These are those carried out in a coordinated manner and by more than one
        person against another person, a specific publication or a page on social
        networks. The purpose can range from dissemination of personal data to
        cause harassment and bullying, or even to achieve the deletion of the
        victim's profiles, create false identities to spread false publications
        and news. Learn more: Tecnoresistencia.
      </p>

      <h4>Discrimination</h4>
      <p>
        These are actions that seek to exclude a person because of their physical
        characteristics, gender identity (the LGBTQI+ community is the most affected,
        opinions, among others. Such actions are related to homophobic and LGBTQI+
        phobic speech. This type of harassment attacks the LGBTQI+ community and
        any content that challenges heteronormativity. It uses humiliating messages
        that seek to ridicule and delegitimize people's sexual orientation and
        gender identity. These are common especially in the case of lesbian women
        or trans women. Also, they are threatened with explicit sexual violence.
        Learn more: Tecnoresistencias.
      </p>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-2.svg" alt="" />
      </div>

      <h4>Identity theft</h4>
      <p>
        It is the use or forgery of the identity of a person, group or
        organization without their consent. The creation of these fake profiles
        uses the image or information to deceive others. It seeks to violate the
        right of LGBTQI+ people to also exist in these spaces. In addition,
        identity theft is used to circulate false information in the name of
        the victim and thus discredit them, seeking to humiliate, embarrass or
        isolate the person from their close social environment, against their
        will, thus exercising psychological violence.
      </p>

      <h4>Exclusion</h4>
      <p>
       Consists of the deliberate intention of not allowing a person in a social
      group, either at work, school or anywhere else, to engage in dynamics
      where other members do participate, such as WhatsApp groups, online games
      or any other type of activity that takes place on the Internet. In the
      case of younger children, exclusion can affect the development of self-esteem.
      </p>

      <h4>Cancellation</h4>
      <p>
        The cancellation culture only aims at attacking, scrutinizing and ceasing
        to support the person or entity that reproduces reprehensible and
        questionable behaviors, but does not raise the need to combat the systemic
        and institutional patriarchal scaffolding. This is when cancellation is
        shaped as a similar form of digital violence and consists of stopping
        consuming or following a user in retaliation for having a questionable
        attitude. This form of violence can be in response to comments made by
        a public figure or content creator and has a negative impact on the
        perception that others may have of them.
      </p>

      <h4>Grooming and online grooming (online sexual harassment and abuse)</h4>
      <p>
        These are criminal forms of harassment that involve an adult contacting
        a child or adolescent in order to gradually gain their trust and then
        engage them in a sexual activity. This behavior has different levels of
        interaction and danger: from talking about sex and obtaining intimate
        material, to actually having a sexual encounter. Learn more: Save the children
      </p>

      <div class="aviso">
      This list is not exhaustive, learn more:
        (https://violenciadigital.tedic.org/)
      </div>

      <div class="recomendaciones">
        <h3 class="hot-pink">
          Recommendations to protect our LGBTQI+ community
        </h3>
        <ul>
          <li>Do not share material that could harm or hurt another person.</li>
          <li>
            Do not post or spread images of other people without their consent.
          </li>
          <li>
            Cut the chain. If someone sends you material that harms, infringes
            or violates another's privacy, do not repost or share the content.
          </li>
          <li>
            Do not do or say on the Internet what you would not do or say in the
            real world.
          </li>
          <li>If something makes you uncomfortable, say NO.</li>
          <li>
            Report aggressive or violent posts or posts that breach another
            user's privacy on a social network or platform so that they can be
            removed.
          </li>
          <li>
            Digital violence can be reported to the courts. If you are a victim
            of grooming, harassment, identity theft, non-consensual dissemination
            of images and other forms of violence: report it!
          </li>
          <li>
            If you feel harassed, assaulted or bullied on the Internet, talk to
            someone you trust and tell them what is happening to you.
            Aggressors try to isolate their victims. Do not be ashamed, ask for help.
          </li>
          <li>
            Before deciding whether or not to make a publication on social networks,
            take two minutes to think about it:
            <ul>
              <li>Is the information confirmed to be true?</li>
              <li>Is it likely to harm anyone?</li>
              <li>Is it useful information?</li>
              <li>Does it involve other people?</li>
              <li>
                If it involves others, do you have their permission to share it?
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seccion-herramientas">
    <div class="centrar-contenido">
      <h2 class="green" id="herramientas">
        Tools to defend the community
      </h2>

      <h4>Internet encryption:</h4>
      <p>
        Encrypting information means hiding the content of a message from the
        naked eye, so that a specific technological interaction is required to
        reveal the content. Encryption can be applied to content such as files,
        data, messages or any type of information.
      </p>

      <p>
        It helps to make communications safer on the Internet. Encryption can
        be a powerful tool that encourages people to use the Internet to come
        out of the closet in a safe way. Examples: for many teenagers, who still
        live at home with family members who reject them, encryption may be the
        only tool that allows them to come out safely and on their own terms.
        Accessing information searched on the Internet without the surveillance
        of third parties (companies, states and conservative individuals).
        Learn more: Encryption: a must for the LGBTQI+ community.
      </p>

      <h4>Network neutrality:</h4>
      <p>
        This is based on the fact that providers give access to content without
        favoring one network participant over others. In other words, it treats
        all connected devices as equal with respect to the data packets they
        carry. According to this principle, a person should not notice any
        difference if he/she browses two pages or downloads two files that are
        the same regardless of where they come from. If two files weigh the same,
        they should be treated the same regardless of their origin.
      </p>

      <p>
        The importance of this principle for the LGBTQI+ community is that it
        guarantees equal access to content. It avoids first and second-class content.
        Within this reasoning, privacy is also protected because if in any way
        Internet Service Providers (ISP) could access the data to know who connects
        to what and from where. This allows websites, online artistic expressions
        and contents in general of the LGBTQI+ Community not to be discriminated
        on the Internet by ISPs, nor by the States. Learn more: What is net
        neutrality and why should you care? - TEDIC.
      </p>

      <h4>Privacy by design</h4>
      <p>
        Is a pro-active principle applied to technological development whereby
        data protection is incorporated into products and services from their
        conception as a predetermined factor. In this way, personal data are
        treated in accordance with the stipulations of the data controller,
        throughout the entire life cycle of that information: from its collection
        to its final deletion.
      </p>

      <p>
        This principle obliges States, companies, people who generate technological
        tools to apply point-to-point encryption, consumer protection, privacy,
        algorithmic transparency, among others. It also allows that the
        technological solution does not discriminate against any person on the
        basis of group, class or perceived categories such as sexual and gender
        identity. Learn more: Digital Economy - TEDIC.
      </p>

      <h4>Teleconsultations</h4>
      <p>
      LGBTQI+ people face disproportionate health risks and unequal access to
      health services. Due in large part to systemic, structural discrimination
      and lack of access to relevant sex education. This same problem carries
      over to the Internet: if States ensure access to quality Internet for all
      their inhabitants, it will be possible to address the barriers inherent to
      communities on the wrong side of the digital divide and unleash new
      innovative trends in our countries and enable these communities to access
      the same opportunities as other people.
      </p>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-3.svg" alt="" />
      </div>
      <div class="aviso">
        <p>
          In addition, LGBTQI+ people are less likely to seek health care due to:
        </p>
        <ul>
          <li>Lack of access to competent and affirmative care.</li>
          <li>
            Fear of stigma and discrimination, often based on negative experiences.
          </li>
          <li>
            Lower levels of insurance coverage and higher rates of poverty.
          </li>
        </ul>
      </div>

      <p>
        Teleconsultation can be an important ally in supporting the community.
        Health care decisions come with additional complications. Many LGBTQI+
        people struggle to find a physician to whom they can disclose their sexual
        identity and gender. This causes many LGBTQI+ people to avoid attending
        a doctor's office. For these instances, teleconsultation solutions could
        provide a trusted link for real-time consultations with care that would
        otherwise be unavailable in their community. Learn more: Mente en Línea.
      </p>
    </div>
  </div>

  <div class="seccion-justicia">
    <div class="centrar-contenido">
      <h2 class="hot-pink" id="justicia">LEGAL RIGHTS</h2>
      <h3>You can record evidence and reports</h3>

      <p class="parrafo-importante">
        Are you in a situation of violence and want to exercise your right to
        access to justice?
        Here are the steps to follow: it is very important that you collect
        and preserve the evidence of your case in the most complete and orderly way.
      </p>

      <div class="paso">
        <h5>Step 1</h5>
        <h4>Describe the facts, what happened?</h4>

        <p>
          Briefly describe each event clearly enough so that someone who does
          not know much about the case can understand it. Be sure to include
          date, time and anything that identifies what happened.
        </p>
      </div>

      <div class="paso">
        <h5>Step 2</h5>
        <h4>Save the evidence</h4>
        <p>
          Capture the screenshot of the post or email containing the harassment.
          If it is a photo or message, take a screenshot or print it.
          If they are voice messages, audios or videos, save them in an external
          disk (or flashdrive USB). Always keep a back-up copy. Identify the
          address of the site from where the video is being broadcast and of the
          user's account on the platform.
        </p>

        <p>
          If you think it is necessary, file the documents with a trustworthy
          notary public.
        </p>
      </div>

      <div class="paso">
        <h5>Step 3</h5>
        <h4>Make a report on social networks</h4>

        <p>
          If the case has occurred on a social network, it is important that you
          report it on their platforms under their community standards criteria.
          They are generally not in favor of discrimination, hate speech, or
          online harassment.
        </p>

        <p>
          If the online harassment took place through messaging, keep in mind
          that in order to request the contents of the messages, you will have
          to do so with a court order (via evidence warrant). Don't forget that
          conversations are usually encrypted end-to-end: this means that
          messaging companies will only be able to provide metadata of the
          conversation, but not the content. Learn more: Acoso.online
        </p>
      </div>

      <div class="paso">
        <h5>Step 4</h5>
        <h4>Resist on the Internet</h4>

        <p>
          Silence or block the aggressor and configure your privacy in your
          networks: restrict your visibility through your profile settings.
          Choose who can see your content. Follow the steps described in the
          digital security block.
        </p>
      </div>

      <div class="paso">
        <h5>Step 5</h5>
        <h4>Report it to the courts</h4>
        <p>Check the legislation in your country for these cases.</p>

        <p>
          <strong>In the criminal jurisdiction:</strong> depending on the type
          of violence and the typification of your country, you can know if the
          action will be public (with a complaint to the police or prosecutor,
          the prosecutor will conduct the investigation) or private (it is promoted
          through a complaint from the public defender or private lawyer).
        </p>

        <p>
          <strong>In the civil court:</strong> the lawsuit is always filed with
          a person who is registered as a lawyer.
        </p>
      </div>

      <div class="paso">
        <h5>Step 6</h5>
        <h4>Talk to your community</h4>
        <p>
          These tasks can be overwhelming for LGBTQI+ people who are going through
          this situation. It is recommended that you have the support of a
          trustworthy person to assist you in gathering evidence and mitigating
          the effects of the violence. Identifying, recognizing yourself as a
          victim and supporting yourself are not steps that one person can do
          alone. Engage in dialogue with your LGBTQI+ community.
        </p>
      </div>
    </div>
  </div>
</div>
