---
tituloPagina: History
titulo: PRIDE, HUMAN RIGHTS AND MEMORIES
subTitulo: A short overview of the fight for the recognition of LGBTQI+ people.
autor: Erwing Szokol
permalink: "en/history/"
hero:
  image: "/imagenes/encabezados/historia.png"
  imageAlt: "Pride, Human Rights and Memories"
  title: Pride, Human Rights and Memories
translationKey: "History"
tag: historia
---

<div class="menu-flotante">
  <ul>
    <li>
      <a href="#introduccion">Introduction</a>
    </li>
    <li>
      <a href="#primera-ola">First wave of the movement in Europe</a>
    </li>
    <li>
      <a href="#post-segunda-guerra">Post World War II to the 1950s</a>
    </li>
    <li>
      <a href="#inicios-liberacion">Beginnings of the Gay Liberation or second wave movement</a>
    </li>
    <li>
      <a href="#anhos-90">The 1990s and Human Rights policy at the UN</a>
    </li>
    <li>
      <a href="#oea-fallos-cidh">OAS and IACHR Rulings</a>
    </li>
    <li>
      <a href="#bibliografia">Bibliography</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="historia-interior pin-trigger">
    <div class="historia-datos">
      <div class="titulo">{{titulo}}:</div>
      <div class="subtitulo electric-blue">{{subTitulo}}</div>
      <div class="autor">{{autor}}</div>
    </div>

    <h3 id="introduccion">Introduction</h3>

    <p>
      The evolution of the rights of trans, lesbian, gay, bisexual and
      intersexual people (TLGBI)is a recent emergence if we compare it with
      other social movements,such as the Afro-descendants and feminism.
      For this reason, this text explores the advances in terms of rights at
      the international level, pointing out the main milestones that are part
      of this process of recognition of LGBTQI+ people as holders of rights.
      In a second stage, the main judgments of the Inter-American Court of
      Human Rights (IACHR) are presented, establishing the basis for state
      action in relation to the rights of these individuals.
      We will also approach the change of paradigms regarding the activism of
      people outside the cis-heteronormativity pattern. And finally, we will
      address the situation in Paraguay.
    </p>

    <p>
     The objective of this text is to provide theoretical content as a
     reflection on how LGBT rights have developed, to be a catalyst for
     deepening topics of interest for activists, to best inform a line of
     research and action within communities.
    </p>
    <p>
     The content is presented in chronological order, firstly, to understand
     how the demands are met, and secondly, to the present guidelines and
     discourses that can be of help within the activism and militancy
     carried out.
    </p>
    <p>
      In this sense, it is proposed to "think globally in order to act locally".
      This involves looking at the global and, at the same time, seeing how
      this affects and helps us to act locally.
      What is Glocal (Auyero, 2001:33) must be understood as a mixture of
      elements of the hegemonic history of the North and the peculiar local
      histories of our environment. For this, it is essential to identify the
      position society has developed to - a society in which a single and
      unidirectional dynamic has formed.
    </p>
    <p>
      Thinking glocally will help us to reinforce our socio-political identity
      and own aesthetic, enriched by the teachings and failures of the
      hegemonic history that intertwines us. By hegemonic history we will
      understand "that history" told with greater regularity by "the others"
      and which generally does not include us in its main narrative,
      but rather as something accessory or secondary.
    </p>
    <p>
      The questions that inspired this text are: When did the LGBTQI+ rights
      movement begin? Did this movement present the same characteristics
      over time? What milestones, turning points, occurred throughout history in
      Western societies that marked the course of the demands for the rights of
      LGBTQI+ people? And in Paraguay, how did this movement develop and
      where do we stand?
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-1.svg" alt="" />
    </div>
    <h3 class="top-padding" id="primera-ola">
      First wave of the movement in Europe
    </h3>
    <p>
      In the late 1800s, the Scientific Humanitarian Committee was founded in
      Berlin, Germany, in May 1897 to launch a campaign for the social
      recognition of homosexual and transgender men and women, and to fight
      against the prosecution of Article 175 of the German penal code, which
      criminalized homosexuality (Lauritsen, 1974:9).  This was the first
      homosexual rights organization in history.
    </p>
    <p>
      In the cultural sphere, an activist climate was reflected in this period.
      The freedom of the press that developed during the Weimar Republic
      (1918-1933) facilitated the emergence of many publications on
      homosexuality.  During the interwar period, publications aimed at
      homosexuals appeared in large parts of Europe. This climate of tolerance
      was completely quelled with the rise of the Nazi and other fascist
      regimes.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-2.svg" alt="" />
    </div>
    <h3 class="top-padding" id="post-segunda-guerra">
      Post World War II to the 1950s
    </h3>
    <p>
      After the end of the World Wars, and with the coming of the Cold War,
      the persecution of dissident sexualities became widespread.
      For example, in Russia there were the Gulag or concentration camps
      for political dissidents where homosexuals were also sent (Mogutin, 2016:13.
      Likewise, on the other side of the world, in the United States of America,
      there was the well-known Lavender Scare which refers to the fear of
      homosexuals and their persecution in the 1950s. In 1954,
      Franco's regime (Spain) modified the Law of vagrants and thugs,
      thus persecuting homosexuals and transgender people. As with other sexual
      policy issues, such as pornography, attitudes towards sexual minorities
      tend to differ between authoritarian and libertarian regimes, rather than
      between the right-wing and the left-wing (Weeks, 1989).
    </p>
    <p>
      One of the first voices to be heard against this issue was Frank Kameny,
      who after being fired from his position as an astronomer in the U.S. Army,
      took his case to the U.S. Supreme Court, arguing that he was being treated
      as a second-class citizen, and not as a U.S. citizen. He argued that
      discrimination against homosexuals was no less illegal and no less
      invidious than discrimination based on religious or racial grounds.
    </p>
    <p>
      Regarding the form of organization of sexual dissidence, in this period
      we find mainly homophilic groups that sought assimilation into society,
      projecting a normalized and healthy image of homosexual people (Mérida, 2009:193).
    </p>
    <p>
      This entire period was enriched and influenced by the scientific
      production (medical and legal) developed in that context; thus,
      medicine, with its emerging development of Psychiatry, contributed new
      elements to the discourse in defense of non-heterosexual people. Likewise,
      the contributions of psychoanalysis were fundamental for the new arguments
      on sexuality.
    </p>
    <h3 class="top-padding" id="inicios-liberacion">
      Beginnings of the Gay Liberation or second wave movement
    </h3>
    <p>
      The Compton's Cafeteria Riot occurred in August 1966 in San Francisco,
      was the first recorded transgender riot in U.S. history, pre-dating the
      famous Stonewall Riots by three years (Stryker, 2020:52).
    </p>
    <p>
      In 1967, Nuestro Mundo, the first homosexual organization in Latin America,
      was secretly founded in Argentina. This group sent pamphlets and reports
      on gay liberation to the main newspapers of Buenos Aires for two years.
      The actions of this group led to the formation of the Homosexual Liberation
      Front (Fuente de Liberación Homosexual or FLH in Spanish) of that country
      in 1971 (Romero, 2019:69).
    </p>
    <p>
      On June 28, 1969, in New York, the well-known Stonewall riots took place,
      giving rise to the organization of the gay pride march in commemoration
      of the first anniversary of this revolt, first in New York and later in
      many cities in Europe and Latin America. Such an event is considered
      transcendental in the history of the gay movement. Although it was not
      the first time that homosexuals violently opposed the abuses of the
      authorities, the response of the gay community was different.
    </p>
    <p>
      The most significant results of this riot came later and peacefully.
      This event was the catalyst that got LGBTQI+ people organized across the
      board to demand their rights and fight against discrimination and abuses
      perpetrated by public authorities.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-3.svg" alt="" />
    </div>
    <p>
      For this to be possible, a series of events had to take place, such as
      the May 68 insurrection in France, the opposition to the Vietnam War in
      the United States, the feminist demands and the civil rights of African
      Americans. This resulted in the emergence in the Western world of several
      militant gay liberation organizations. Many of these organizations were
      rooted in left-wing radicalism, rather than in the established homophile
      groups of the time.
    </p>
    <p>
      At this stage the gay movement resumed the historical and anthropological
      research initiated by the first wave, shedding light on the persecution
      of homosexuals over the centuries and on the historical origin of anti-gay
      conviction. This conviction, almost invariably, is promoted by the ideology
      that gives priority to the bourgeois, heterosexual, nuclear family as
      natural and desirable.
    </p>
    <p>
      If the previous movement had a strong commitment to psychological research,
      this new movement fought against homosexual persecution perpetrated under
      the guise of psychiatric treatment and encouraged the formation of
      self-awareness groups.
    </p>
    <p>
      In 1971 the Frente de Liberación Homosexual (Homosexual Liberation Front)
      was created in Buenos Aires (Argentina) and in Mexico the first LGBT
      collective in that country was also founded. In 1973 in Chile, a public
      demonstration for homosexual rights took place in the Plaza de Armas
      in Santiago.
    </p>
    <p>
      In the same year, the American Psychiatric Association (APA) removed
      homosexuality from the list of mental disorders. This depathologization
      encouraged gays and lesbians to move towards the fight for the recognition
      of civil rights, leaving behind the claims of trans people; and it would
      not be until 2018 that the WHO would no longer consider transsexuality
      as a mental illness.
    </p>
    <p>
      The ACT UP, a group formed in this era, represents a rupture with the
      groups and organizations that sought integration through civil rights;
      and its policy is based on rage, the collective theft of medicines for
      the sick, as well as street interventions and the emergence of a radical
      discourse (Mérida, 2009:193).
    </p>
    <h3 class="top-padding" id="anhos-90">
      The 1990s and Human Rights policy at the UN
    </h3>
    <p>
      The 1990s were marked by a strong advocacy of Human Rights and an
      NGO-ization of the fight as local and international lobbying through
      networks and federations of organizations.
    </p>
    <p>
      On May 17, 1990, the World Health Organization removed homosexuality from
      the list of mental illnesses and in 1994 the UN Human Rights Committee
      ruled that homosexual relations are protected by the International
      Covenant on Civil and Political Rights (ICCPR), an interpretation
      reached in light of the Toonen v. Australia ruling.
    </p>
    <p>
      In 1991, Toonen complained to the Human Rights Committee that Tasmanian
      laws criminalized consensual sex between adult males in private.
      As a result of his complaint to the Committee, Mr. Toonen lost his job
      with the Tasmanian AIDS Council.
    </p>
    <p>
      On March 31, 1994, the Committee determined that sexual practices between
      consenting adults in private were protected by the concept of "privacy"
      in Article 17 of the ICCPR, which prohibits arbitrary interference by the
      State with the privacy of individuals.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-4.svg" alt="" />
    </div>
    <h3 class="top-padding" id="oea-fallos-cidh">
      OAS and IACHR Rulings
    </h3>
    <h4>Karen Atala and Daughters v. Chile</h4>
    <p>
      This is the name given to the lawsuit that Chilean judge Karen Atala filed
      against the State of Chile before the IACHR in 2004 when the Chilean S
      upreme Court decided to remove her from the guardianship of her daughters,
      based solely on her sexual orientation, which, according to the court,
      would put the girls in a state of vulnerability.
    </p>
    <p>
      On December 18, 2009, the IACHR explained that sexual orientation and
      gender identity are considered protected categories under Article 1.1 of
      the Convention. This implies that any difference in treatment based on
      such criteria must be considered "suspect" and therefore presumed
      incompatible with the American Convention.
    </p>
    <h4>Duque v. Colombia</h4>
    <p>
      On February 26, 2016, the Court declared that the Republic of Colombia
      holds international responsibility for infringing the right to equality
      and non-discrimination before the law based on Ángel Duque’s sexual
      orientation. Mr. Duque was not allowed equal access to the survivor's
      pension established in Colombian law, after the death of his partner
      because they were a same-sex couple.
    </p>
    <h4>Vicky Hernández v. Honduras</h4>
    <p>
      The IACHR held Honduras responsible for the death of Vicky Hernández, a
      trans woman and human rights advocate who was extrajudicially executed on
      the night of June 28, 2009, amid a curfew. For the IACHR, the murder of
      Hernandez "was a case of violence based on prejudice against her gender
      identity and gender expression.” According to the IACHR, the Honduran
      State "did not conduct an adequate investigation about the facts of the
      case with due diligence and within a reasonable period of time, which has
      remained in impunity".
    </p>
    <p>
      In 2008, the OAS General Assembly adopted the resolution on Human Rights
      Sexual Orientation and Gender Identity. In November 2011, in the scope of
      the 143rd session, a special unit on this issue was created within the OAS
      Executive Secretariat.
    </p>
    <p>
      Finally, in 2013, the Rapporteurship on the Rights of LGBTI Persons
      was created.  The decision to create this Rapporteurship reflects the
      IACHR's commitment to strengthen and reinforce the protection, promotion
      and monitoring of the human rights of lesbian, gay, bisexual, trans and
      intersex persons in the region.
    </p>
    <h4>The Paraguayan case</h4>
    <p>
      On July 24, 1999, José Alberto Pérez Meza initiated a de facto partnership
      recognition with Jenaro Antonio Espínola Tami arguing the sentimental
      and de facto relationship that he had with the plaintiff from 1967 to 1987
      without interruption. The IACHR considered the case inadmissible.
      This is the first local lawsuit taken to an international level based on
      the denial of rights on the grounds of sexual orientation
    </p>
    <p>
      Another important incident at international level occurred in 2015 when a
      thematic hearing was held on allegations of acts of violence and impunity
      against transgender people in Paraguay. The lack of due diligence of the
      Paraguayan investigative bodies to respond to these transfemicides
      was noticeable.
    </p>

    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-5.svg" alt="" />
    </div>
    <h4>Pride, rights and recovery of memories</h4>
    <p>
      Before the end of the 80's, non-heterosexual organizations only sought
      sexual liberation, they did not think in terms of rights. The main demands
      revolved around the decriminalization of sexual acts, the depathologization
      of homosexuals and trans people and the end of persecution by the State
      and society. In the 90's, the sexual liberation movement progressively
      absorbed the paradigm of Human Rights, until it became a rights-based movement.
    </p>
    <p>
      We have to highlight that during the 2000's onwards a series of rights
      were conquered in several Latin American countries, such as gender
      identity laws, equal marriage, adoption, trans employment, among other
      legislative measures that favored the recognition of the rights
      of LGBTQI+ people.
    </p>
    <p>
      In view of the above, we must point out that in Paraguay no legislative
      advances were achieved for the protection of LGBTQI+ people.
      This does not necessarily imply the stagnation of the sexual and gender
      dissidence movement. Rather, this led to another form of activism and
      demands from social organizations. Focusing on actions of taking over
      public spaces and a process of recovery of memories that are part of the
      background of the struggle in the country.
    </p>
    <p>
      In this sense, it is worth mentioning the productions focused on the
      violations of the rights of homosexuals during the dictatorship (1954-1989).
      This generated an aesthetic based on emblematic figures such as the faces
      of Bernardo Aranda, Carla and Chana. As well as the establishment of
      commemorative dates such as the declaration of September 30 as the national
      day for the rights of LGBTQI+ people, as well as the creation of the day
      of lesbian visibility in Paraguay celebrated on September 16.
    </p>
    <p>
      Finally, it is worth remembering that September is considered the month of
      108 memories, a period of time in which a series of activities are carried
      out to commemorate and vindicate LGBTQI+ people. We cannot finish without
      saying that the Paraguayan context is different from the rest of the
      countries in the region, since it cannot be ignored that, while the region
      was debating about human rights, in Paraguay we were under an iron
      dictatorship that made any kind of action and thought outside the
      dictatorial scheme impossible. Currently, we are facing a scenario where
      the Paraguayan TLGBI movement is moving forward, while we live in a State
      that is moving backwards.
    </p>
  </div>
</div>

<div class="bibliografia">
  <div class="wrapper">
    <h4 id="bibliografia">Bibliography</h4>
    <ul>
      <li>
        Auyero, J. (2001). Glocal riots. International Sociology, 16 (1), 33-53.
      </li>
      <li>
        Lauritsen, J., & Thorstad, D. (1974). The early homosexual rights
        movement (1864-1935). New York: Times Change Press.
      </li>
      <li>Mérida Jiménez, Rafael (2009).</li>
      <li>
        Manifiestos Gays, lesbianos y queer (1969-1994). Barcelona: Icaria.
      </li>
      <li>
        Mogutin, Salva (2016). Gay in de Gulag. Index on Censorship (Ru), Vol.
        24, Nº 1
      </li>
      <li>
        Weeks, Jeffrey (1989). Sexual politics, revista New Internationalist, n°
        201
      </li>
      <li>
        Stryker, S. (2020). Historia de lo trans: las raíces de la revolución de
        hoy. Continta me tienes.
      </li>
      <li>
        Romero, F. & Simonetto, P. (2019). Sexualidades radicales: los
        movimientos de liberación homosexual en América Latina (1967-1989).
        Izquierdas, (46).
      </li>
      <li>
        Halperin, D. (2007). San Foucault: para una hagiografía gay. El cuenco
        de plata.
      </li>
    </ul>
  </div>
</div>
