@import "efectos";

@mixin boton {
  color: white;
  border-radius: 10px;
  padding: 0.4em 0.6em 0.25em 0.6em;
  font-family: "Brice Bold Condensed";
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: 1;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    @include box-shadow-botones;
  }
}
