$color-hot-pink: #ff2770;
$color-electric-blue: hsl(221, 98%, 47%);
$color-green: #039c63;
$color-texto-invertido: #fff;
$color-texto: #333;
$color-gris-claro: #f4f5f7;
$color-gris-semi-oscuro: #adadad;
$color-golden: #eacc20;
$color-amarillo-claro: #eade92;
$color-aqua: #5bb2a9;
$color-rosa-claro: #ff8a9a;
$color-azul-claro: #f2f6ff;
