.interior-comunidad {
  h2 {
    margin-bottom: 0.5em;
  }
  p + h2 {
    margin-top: 0.75em;
  }
}

.menu-flotante {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 80px;
  @include xl {
    display: block;
  }
}

.derechos-interior,
.historia-interior {
  .ilustracion {
    margin: 30px 0;
  }
  > ul {
    margin-left: 0;
    padding-left: 1em;
    li {
      padding-bottom: 0.5em;
    }
    li:last-of-type {
      padding-bottom: 0;
    }
  }
  ul ul {
    margin-top: 0.5em;
    padding-left: 1em;
    font-size: 16px;
    li {
      border-bottom: 1px solid rgba(black, 0.15);
      padding: 0.5em 0 0.2em;
    }
    li:last-of-type {
      border-bottom: none;
    }
  }
  ul + p {
    margin-top: 2em;
  }
}

.historia-datos {
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
  .titulo {
    font-family: "Brice Semibold";
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .subtitulo {
    font-family: "Brice Semibold";
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px;
    @include lg {
      font-size: 42px;
    }
  }
  .autor {
    font-family: "Brice Bold";
    font-size: 16px;
  }
}

.hero-interior.bg-derechos,
.hero-interior.bg-historia {
  .wrapper {
    padding-bottom: 0;
    @include lg {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
