.seccion-conquista-derechos {
  background-color: $color-electric-blue;
  .wrapper {
    padding: 0;
  }
}

.conquista-derechos {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  @include lg {
    padding-block: 100px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 20px;
  }
  span.conoce-mas {
    color: white;
  }
  h2 {
    color: white;
    max-width: 700px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
  }
  .acciones-derechos {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    li {
      padding: 0 1em;
    }
    .boton {
      @include boton;
      background-color: $color-hot-pink;
      &:hover {
        background-color: darken($color-hot-pink, 10%);
      }
    }
  }
}

.card-conquista-derechos {
  padding: 60px 30px 40px;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-out;
  @include lg {
    margin-top: 0;
    &:hover {
      transform: translateX(10px) translateY(-10px);
      box-shadow: -10px 10px 0 $color-golden;
    }
  }
  h3 {
    text-transform: uppercase;
    font-size: 34px;
  }
  p {
    font-family: "Brice Light";
    font-size: 16px;
    margin-bottom: 20px;
  }
  .cta-conquista {
    @include boton-dorado;
    text-decoration: none;
    color: $color-texto;
    margin-top: auto;
    align-self: flex-start;
  }
  &.historia {
    background-color: $color-green;
    background-image: url(../imagenes/historia-ilustracion.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 80px;
  }
  &.derechos {
    background-color: $color-hot-pink;
    background-image: url(../imagenes/derecho-ilustracion.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 80px;
  }
}

// .card-conquista-derechos + .card-conquista-derechos {
//   margin-top: 20px;
// }
