@mixin box-shadow {
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.042),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.061), 0px 12.5px 10px rgba(0, 0, 0, 0.075),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.089),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.108), 0px 100px 80px rgba(0, 0, 0, 0.15);
}

@mixin box-shadow-botones {
  box-shadow: 0px 0.3px 0.6px rgba(0, 0, 0, 0.02),
    0px 0.7px 1.3px rgba(0, 0, 0, 0.028), 0px 1.3px 2.5px rgba(0, 0, 0, 0.035),
    0px 2.2px 4.5px rgba(0, 0, 0, 0.042), 0px 4.2px 8.4px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.07);
}

@mixin boton-dorado {
  background-color: $color-golden;
  border: none;
  border-radius: 4px;
  padding: 16px 20px;
  font-family: "Brice Bold";
  display: inline-block;
  margin-top: 30px;
}

@mixin boton-pink {
  background-color: $color-hot-pink;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Brice Bold";
  font-size: 16px;
  display: inline-block;
  margin-top: 30px;
  color: white;
  text-decoration: none;
}
