.seccion-footer {
  background-color: $color-gris-claro;
}

footer {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    gap: 30px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    @include sm {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(6, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(7, 1fr);
      gap: 20px;
    }
  }
  .volver-arriba {
    grid-column: 1 / -1;
    text-align: center;
    @include lg {
      grid-column: 7;
      text-align: right;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 0.1em;
      color: $color-texto;
      img {
        margin-left: 10px;
      }
    }
  }
  ul li a {
    img {
      max-width: 90px;
    }
  }
}
