.galeria {
  // background-color: $color-electric-blue;
  padding: 50px;
  @include md {
    padding: 100px 50px;
  }
  h2 {
    color: $color-texto;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 32px;
  }
}

.splide__arrow--prev {
  left: -1em !important;
}
.splide__arrow--next {
  right: -1em !important;
}

.splide__pagination {
  bottom: -1.5em !important;
  @include lg {
    bottom: -2.5em !important;
  }
}

.splide__pagination__page {
  opacity: 1 !important;
  background: white !important;
}

.splide__pagination__page.is-active {
  background: $color-hot-pink !important;
}
