header {
  position: absolute;
  width: 100%;
  .wrapper {
    padding: 20px;
    .encabezado__inner {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
      // @media screen and (min-width: 450px) {
      //   max-width: 80%;
      // }
      // @media screen and (min-width: 640px) {
      //   max-width: 70%;
      // }
      // @include md {
      //   max-width: 55%;
      // }
      // @include lg {
      //   max-width: 65%;
      // }
      // @include xl {
      //   max-width: 72%;
      // }
      .encabezado__brand {
        max-width: 120px;
        user-select: none;
      }
    }
  }
}
