.seccion-seleccionar-perfil {
  background-color: $color-hot-pink;
  // .wrapper {
  //   padding: 0;
  // }
}

.seccion-por-que {
  background-image: url("../imagenes/bg-por-que.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.seccion-podcast {
  background-color: lighten($color-hot-pink, 15%);
}

.seccion-curso {
  background-color: $color-electric-blue;
  position: relative;
  overflow: hidden;
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

.seccion-te-podria-interesar,
.seccion-footer {
  background-color: #f2f6ff;
}
