.titulo-interior-select-profile {
  background-color: $color-hot-pink;
  color: white;
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
}

.mas-perfiles {
  .otros-perfiles {
    display: flex;
  }
  .perfil {
    flex-grow: 1;

    h3 {
      line-height: 1;
      font-size: 24px;
      font-family: "Brice Bold";
      text-align: center;
      word-break: break-word;
      @include sm {
        font-size: 30px;
      }
    }
    a {
      color: black;
      text-decoration: none;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &.perfil-queer {
      background-color: $color-rosa-claro;
    }
    &.perfil-activista {
      background-color: $color-amarillo-claro;
    }
    &.perfil-figura {
      background-color: $color-aqua;
    }
    @include lg {
      position: relative;
      overflow: hidden;
      a {
        flex-direction: row;
        padding-left: 60px;
      }
      img {
        position: absolute;
        bottom: -100px;
        right: 0;
        max-width: 240px;
      }
      h3 {
        font-size: 56px;
        text-align: left;
        max-width: 360px;
        word-break: normal;
      }
    }
  }
}
