.menu-flotante {
  width: 270px;
  padding: 24px 30px 24px 40px;
  background-color: white;
  border-radius: 6px;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.1);
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 12px;
    }
    li:last-of-type {
      margin-bottom: 0;
    }
  }
  font-size: 14px;
  line-height: 1.2;
  font-family: "Brice Semibold";
  a:link,
  a:active,
  a:visited {
    color: rgba(#004ced, 0.5);
    text-decoration: none;
  }
}
