.encabezado {
  .wrapper {
    .navegacion {
      font-family: "Brice";
      // text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      right: 0;
      left: 0;
      top: 140%;
      background-color: darken($color-electric-blue, 3%);
      border-radius: 5px;
      @include box-shadow;
      @include lg {
        position: initial;
        box-shadow: none;
        background: none;
      }
      // @include xl {
      //   font-size: 20px;
      // }
      a:link,
      a:active,
      a:visited {
        color: $color-texto-invertido;
        text-decoration: none;
        // @include lg {
        //   color: $color-texto-invertido;
        // }
      }
      .nav__list {
        list-style: none;
        padding: 30px 20px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg {
          flex-direction: row;
          padding: 0 10px;
          align-items: flex-start;
          border: none;
          border-radius: 0;
        }
        &.menu-cerrado {
          display: none;
          @include lg {
            display: flex;
          }
        }
        // Estilos para menu mobile
        // @media screen and (max-width: 992px) {
        //   display: none;
        // }
        .nav__nivel-superior {
          padding: 0.25em 1em 0.5em;
          position: relative;
          user-select: none;
          .menu-tag {
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: flex-end;
            color: $color-texto-invertido;
            // @include lg {
            //   color: $color-texto-invertido;
            // }
          }
          @include lg {
            &.menu-abierto {
              background: rgba(white, 0.98);
              @include box-shadow;
              .menu-tag {
                color: $color-texto;
              }
            }
          }
          &.no-submenu {
            // margin-right: 20px;
            @include lg {
              margin-left: 8px;
              margin-right: 0;
              background: transparent;
              box-shadow: none;
            }
          }
          // display: flex;
          // align-items: center;
          // flex-direction: column;
          span.flechita {
            margin-left: 8px;
          }
          .nav__container-submenu {
            // position: absolute;
            top: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            @include lg {
              padding: 10px;
              // display: none;
            }
            .nav__item-submenu {
              text-align: center;
              border-bottom: 1px solid rgba(white, 0.15);
              padding: 4px 0 0;
              &:last-of-type {
                border-bottom: none;
              }
              @include lg {
                text-align: right;
                margin-right: 0;
                li {
                  padding: 5px 0 2px;
                }
              }
              a:link,
              a:active,
              a:visited {
                color: rgba(white, 0.85);
                @include lg {
                  color: rgba(black, 0.75);
                }
              }
              a:hover {
                color: rgba(black, 0.9);
                @include lg {
                  color: black;
                }
              }
              .nav__item {
                &.link-activo {
                  color: $color-hot-pink;
                }
              }
            }
          }
        }
      }
    }
  }
}

// .nav__nivel-superior:hover {
//   .nav__container-submenu {
//     display: block !important;
//   }
// }

// Switch para menu

.toggle-menu {
  position: absolute;
  right: 0;
  user-select: none;
  .abierto {
    display: block;
    cursor: pointer;
  }
  .cerrado {
    display: none;
  }
  &.menu-cerrado {
    .abierto {
      display: none;
    }
    .cerrado {
      display: block;
      cursor: pointer;
    }
  }
  @include lg {
    display: none;
  }
}

.menu-abierto {
  .nav__container-submenu {
    display: flex !important;
    flex-direction: column;
  }
}

// Switch para idiomas

.switch {
  // El Li que contiene el switcher

  // border-top: 2px solid $color-gris-semi-oscuro;
  padding-top: 10px !important;
  width: 80%;
  @include lg {
    border-top: none;
    padding-top: 0.25em !important;
    width: auto;
    // border-left: 1px solid rgba(white, 0.75);
    padding-left: 15px !important;
    margin-left: 10px !important;
    margin-top: -5px;
  }
}

.switch-idioma {
  // El UL
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .switch-idioma__item {
    // Los LI

    .switch-idioma__link {
      // Los links
      // color: $color-green !important;
      text-transform: uppercase;
      font-family: "Brice Semi Bold Condensed";
      font-size: 16px;
      letter-spacing: 0.025em;
      @include lg {
        font-size: 20px;
        position: relative;
        &::before {
          content: "";
          border-left: 1px solid rgba(white, 0.5);
          position: absolute;
          width: 2px;
          height: 30px;
          left: -15px;
        }
      }

      &.is-active {
        display: none;
      }
    }
  }
}

.destaque-boton {
  background-color: $color-golden;
  color: black !important;
  padding: 0.5em 1.25em 0.35em;
  border-radius: 4px;
  display: block;
  @include lg {
    margin-top: -10px;
  }
}
