.perfiles-interior {
  > * + * {
    margin-top: 1em;
  }
  //   @media screen and (min-width: 630px) {
  //     padding: 30px 0;
  //   }
  //   @include md {
  //     padding: 50px 0;
  //   }
  .container-historia {
    padding: 30px;
    @include md {
      padding: 50px 30px;
    }
  }
  .container-historia:nth-child(2) {
    background-color: $color-gris-claro;
  }
  .encabezado-historia,
  .desarrollo-historia {
    max-width: 750px;
    margin: 0 auto;
  }
  .encabezado-historia {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-bottom: 1em;
    @include md {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
    }
    .titulos {
      // order: 2;
      // @include md {
      //   order: 1;
      // }
    }
    h3,
    h2 {
      font-family: "Brice Bold";
      color: $color-texto;
    }

    h3 {
      margin-bottom: 8px;
    }

    h2 {
      font-size: 32px;
      line-height: 1;
      margin-bottom: 0.05em;
      word-break: break-word;
      @include md {
        margin-bottom: 0;
      }
      @include lg {
        font-size: 42px;
      }
    }
    .imagen {
      min-width: 100px;
      img {
        max-width: 110px;
      }
    }
  }
  .desarrollo-historia {
    h2 {
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 1em;
    }
    p {
      font-family: "Brice Light";
    }
  }
  .apartado {
    margin: 40px 0;
    padding: 20px 30px;
    border-radius: 8px;
  }
}

.container-historia:nth-child(1) {
  h2 {
    color: $color-electric-blue;
  }
  .apartado {
    background: #f2f6ff;
  }
}
.container-historia:nth-child(2) {
  h2 {
    color: $color-hot-pink;
  }
  .apartado {
    background: #f9e2e5;
  }
}
.container-historia:nth-child(3) {
  h2 {
    color: $color-green;
  }
  .apartado {
    background: #ebfff7;
  }
}
