.seccion-podcasts {
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  h2.top-padding {
    padding-top: 50px;
  }
  p {
    font-family: "Brice Light";
  }
  > * + * {
    margin-top: 1em;
  }
  @media screen and (min-width: 630px) {
    padding: 30px;
  }
  @include md {
    padding-block: 50px;
  }
  @include lg {
    padding-block: 80px;
  }
  .episodios {
    margin-top: 2em;
    display: grid;
    gap: 0.5em;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .boton {
    @include boton;
    display: inline-block;
    background-color: $color-electric-blue;
  }
}

.curso-destaque-parrafo {
  font-size: 24px;
  font-family: "Brice Light";
}

.curso-presentacion {
  padding-block: 30px;
  p {
    font-family: "Brice Light";
  }
  @include md {
    padding-block: 50px;
  }
  @include lg {
    padding-block: 80px;
  }
}

.curso-instrucciones {
  background-color: #f8f8f8;
  padding-block: 30px;
  @include md {
    padding-block: 50px;
  }
  @include lg {
    padding-block: 80px;
  }
}

.grid-curso {
  display: grid;
  gap: 30px;

  @include md {
    grid-template-columns: 1.5fr 1fr;
  }
  .texto {
    font-family: "Brice Light";
    order: 2;
    @include md {
      order: 1;
    }
  }
  .acciones {
    margin-top: 32px;
    .boton-full-pink {
      background-color: $color-hot-pink;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      padding: 12px 24px;
      font-family: "Brice Bold";
      font-size: 12px;
      margin-right: 10px;
      @include md {
        font-size: 16px;
      }
    }
    .boton-outline-pink {
      border: 1px solid $color-hot-pink;
      font-family: "Brice Bold";
      padding: 12px 24px;
      border-radius: 4px;
      text-decoration: none;
      font-size: 12px;
      color: $color-hot-pink;
      @include md {
        font-size: 16px;
      }
    }
  }
  .imagen-curso {
    order: 1;
    justify-self: center;
    @include md {
      order: 2;
      justify-self: start;
    }
  }
}
