.cta-podcast {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .podcast-card {
    background-color: $color-hot-pink;
    max-width: 890px;
    border-radius: 4px;
    padding: 60px 30px 80px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 30px;
    background-image: url(../imagenes/headphones.svg);
    background-position: top 20px left 20px;
    background-repeat: no-repeat;
    flex-direction: column;
    @include md {
      text-align: left;
      flex-direction: row;
    }
    h2 {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 1;
      @include md {
        font-size: 42px;
      }
    }
    .ilustracion {
      max-width: 140px;
      @include md {
        max-width: 240px;
      }
    }
    .acciones {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // @include md {
  //   padding: 50px 0;
  // }
  // h2 {
  //   text-align: center;
  //   margin-bottom: 0;
  // }
  // .acciones {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 30px;
  //   .boton {
  //     @include boton;
  //     background-color: $color-electric-blue;
  //     display: inline-block;
  //     &:hover {
  //       background-color: darken($color-electric-blue, 10%);
  //       @include box-shadow-botones;
  //     }
  //   }
  // }
  // .ilustracion {
  //   display: flex;
  //   justify-content: center;
  //   img {
  //     max-width: 300px;
  //   }
  // }
}

// .episodios-home {
//   background-color: $color-electric-blue;
//   padding: 50px;
//   display: grid;
//   justify-content: center;
//   gap: 2em;
//   img {
//     max-width: 100%;
//   }
//   @include md {
//     grid-template-columns: repeat(2, 1fr);
//   }
//   @include lg {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
