.por-que-hacemos-esta-web {
  padding: 30px 0;
  @include md {
    padding: 50px 0;
  }
  h2 {
    color: $color-electric-blue;
  }
  .parrafos {
    margin-bottom: 2em;
    @include lg {
      margin-bottom: 4em;
    }
  }
  // .parrafos,
  // ul {
  //   @include md {
  //     columns: 2;
  //     column-gap: 50px;
  //     column-rule: 1px solid rgba(black, 0.15);
  //   }
  // }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  // ul li {
  //   margin-bottom: 0.5em;
  //   padding: 0.5em;
  //   border-bottom: 1px solid rgba(black, 0.15);
  // }
  // ul li:last-of-type {
  //   margin-bottom: 0;
  //   border-bottom: none;
  // }
}

.accordion {
  max-width: 890px;
  margin-inline: auto;
  .accordion__section {
    padding: 30px;
    cursor: pointer;
    &.section_one {
      background: $color-azul-claro;
      background-image: url(../imagenes/curso-ilustracion.png);
      background-size: 100px;
      background-position: top 10px right 15px;
      background-repeat: no-repeat;
      @include md {
        background-size: 150px;
      }
      @include lg {
        background-size: 220px;
      }
    }
    &.section_two {
      background-color: $color-electric-blue;
      color: white;
      background-image: url(../imagenes/comunidad-derecho-ilustracion.png);
      background-size: 100px;
      background-position: top 10px right 15px;
      background-repeat: no-repeat;
      @include md {
        background-size: 150px;
      }
      @include lg {
        background-size: 220px;
      }
      h2 {
        color: white;
      }
    }
  }
  .accordion__indicator {
    margin-bottom: 20px;
    flex-shrink: 0;
    @include md {
      margin-right: 20px;
    }
  }
  .accordion__header {
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 1.1;
    }
  }
  .accordion__header {
    padding-right: 90px;
    @include md {
      padding-right: 150px;
      display: flex;
    }
    @include lg {
      padding-right: 220px;
    }
  }
  .accordion__content {
    height: 0;
    overflow: hidden;
    // transition: 0.5s;
    @include md {
      padding-right: 150px;
      margin-left: 52px;
    }
    @include lg {
      padding-right: 220px;
    }
  }
}

.active .accordion__content {
  height: auto;
  // padding: 10px 0;
}

.accordion__section.active {
  .accordion__indicator {
    img {
      transform: rotate(180deg);
    }
  }
}
