.seccion-hero {
  .wrapper {
    padding-top: 120px;
    display: grid;
    @include md {
      grid-template-columns: 2fr 1fr;
      align-items: center;
      padding-bottom: 100px;
      gap: 2em;
    }
    h1 {
      font-family: "Brice";
      color: white;
      font-size: 45px;
      line-height: 1;
      @include md {
        font-size: 60px;
      }
    }
    img {
      max-width: 240px;
      justify-self: center;
      @include md {
        max-width: 100%;
      }
    }
  }
}

.bg-home-page {
  .wrapper {
    gap: 30px;
    h1 {
      order: 2;
      text-align: center;
      @include md {
        text-align: left;
        order: 1;
      }
    }
    img {
      order: 1;
      @include md {
        order: 2;
      }
    }
  }
}
