// Para que ocupe todo el ancho de la pagina en desktop (>992px)

.seccion-seleccionar-perfil {
  overflow-x: hidden;
  .wrapper {
    padding: 0;

    @include lg {
      max-width: 100%;
      overflow-x: hidden;
    }
  }
  .titulo-select-profile {
    color: white;
    padding: 30px;
    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    @include lg {
      padding: 50px;
    }
  }

  .profile-cards {
    @include xl {
      display: flex;
      height: 400px;
      overflow: hidden;
    }
  }

  .profile-card {
    padding: 50px;
    position: relative;
    overflow: hidden;
    h3 {
      font-size: 32px;
      font-family: "Brice Bold";
      line-height: 1;
      margin-bottom: 20px;
      @include lg {
        font-size: 42px;
      }
    }
    @include xl {
      width: 33.333%;
      transition: all 0.5s ease-in-out;

      h3,
      p {
        width: 340px;
      }
    }
    a.cta-profiles {
      @include boton-dorado;
      text-decoration: none;
      color: #040303;
    }
    .profile-card-left {
      @include xl {
        p,
        a {
          visibility: hidden;
          // position: absolute;
        }
      }
    }
    .profile-card-right {
      position: absolute;
      right: -20px;
      bottom: -60px;
      max-width: 220px;
      @include xl {
        width: 315px;
        left: 50%;
        translate: -50%;
        right: auto;
        // bottom: -60px;
      }
    }
    // Estado activo (solo en LG)
    @include xl {
      flex-grow: 1;
      overflow-x: hidden;
      &.active {
        // background-color: red;
        width: 60%;
        // .profile-card-left {
        //   p {
        //     display: block;
        //   }
        //   a {
        //     display: inline-block;
        //   }
        // }
        // .profile-card-right {
        //   left: auto;
        //   right: 0;
        //   translate: 0;
        //   bottom: auto;
        //   top: 0;
        // }
      }
    }
  }
}

// .selecciona-tu-perfil {
//   padding: 30px 0 0;
//   @include md {
//     padding: 50px 0 0;
//   }
//   @include lg {
//     overflow: hidden;
//   }
//   h2,
//   h4 {
//     text-align: center;
//     color: $color-texto-invertido;
//   }
//   .grid {
//     display: flex;
//     flex-direction: column;
//     @include lg {
//       flex-direction: row;
//       overflow: hidden;
//     }
//   }
//   .grid-item {
//     flex-grow: 1;
//     @include lg {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 33.333%;
//       overflow: hidden;
//       h3 {
//         text-align: center;
//         max-width: 350px;
//         margin-inline: auto;
//       }
//       &.active {
//         h3 {
//           text-align: left;
//           max-width: auto;
//         }
//         width: 50%;
//         // max-width: 750px;
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-start;
//         p {
//           display: block;
//           max-width: 350px;
//         }
//         a {
//           display: inline-block;
//           text-decoration: none;
//           color: $color-texto;
//         }
//       }
//     }
//     h3 {
//       font-family: "Brice Bold";
//       font-size: 42px;
//       line-height: 1;
//       color: $color-texto;
//       margin-bottom: 20px;
//     }
//     p {
//       font-size: 18px;
//       font-family: "Brice Light", serif;
//       @include lg {
//         display: none;
//       }
//     }
//     a {
//       @include boton-dorado;
//       @include lg {
//         display: none;
//       }
//     }
//   }
// }

// .grid-item {
//   position: relative;
//   overflow: hidden;
//   padding: 50px 30px 80px 30px;
//   .imagen {
//     position: absolute;
//     right: -10px;
//     max-width: 200px;
//     bottom: -40px;
//     @include lg {
//       position: static;
//     }
//   }
// }

.profile-queer {
  background-color: $color-rosa-claro;
}

.profile-activist {
  background-color: $color-aqua;
}

.profile-figure {
  background-color: $color-amarillo-claro;
}
