@font-face {
  font-family: "Brice";
  src: url("/tipografia/Brice-Regular.woff2") format("woff2"),
    url("/tipografia/Brice-Regular.woff") format("woff");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Brice Light";
  src: url("/tipografia/Brice-Light.woff2") format("woff2"),
    url("/tipografia/Brice-Light.woff") format("woff");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Brice Semibold";
  src: url("/tipografia/Brice-Semibold.woff2") format("woff2"),
    url("/tipografia/Brice-Semibold.woff") format("woff");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Brice Bold";
  src: url("/tipografia/Brice-Bold.woff2") format("woff2"),
    url("/tipografia/Brice-Bold.woff") format("woff");
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Brice Black";
  src: url("/tipografia/Brice-Black.woff2") format("woff2"),
    url("/tipografia/Brice-Black.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Brice Black Semi Expanded";
  src: url("/tipografia/Brice-BlackSemiExpanded.woff2") format("woff2"),
    url("/tipografia/Brice-BlackSemiExpanded.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Brice Semi Bold Condensed";
  src: url("/tipografia/Brice-SemiBoldCondensed.woff2") format("woff2"),
    url("/tipografia/Brice-SemiBoldCondensed.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Brice Bold Condensed";
  src: url("/tipografia/Brice-BoldCondensed.woff2") format("woff2"),
    url("/tipografia/Brice-BoldCondensed.woff") format("woff");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto Light";
  src: url("/tipografia/subset-Roboto-Light.woff2") format("woff2"),
    url("/tipografia/subset-Roboto-Light.woff") format("woff");
  font-style: normal;
  font-display: block;
}

h2 {
  font-family: "Brice Bold";
  font-weight: normal;
  font-size: clamp(1.333rem, 4vw + 1rem, 3.333rem);
  line-height: 1;
  margin: 0 0 1em 0;
  // text-transform: uppercase;
}

// h3 {
//   font-family: "Brice Black Semi Expanded";
//   font-weight: normal;
//   font-size: clamp(1.167rem, 2vw + 0.25rem, 1.556rem);
//   line-height: 1;
//   // text-transform: uppercase;
// }

// h4 {
//   font-family: "Brice";
//   font-weight: normal;
//   font-size: clamp(1rem, 1.25vw + 0.25rem, 1.1rem);
//   line-height: 1;
//   text-transform: uppercase;
// }

.bold {
  font-family: "Brice Bold Condensed";
}
.semi-bold {
  font-family: "Brice Semi Bold Condensed";
}
.black-semi-expanded {
  font-family: "Brice Black Semi Expanded";
}

.hot-pink {
  color: $color-hot-pink;
}

.electric-blue {
  color: $color-electric-blue;
}
.green {
  color: $color-green;
}
.gris {
  color: $color-gris-semi-oscuro;
}
.rosa-claro {
  color: $color-rosa-claro;
}
