@font-face {
  font-family: "Brice Black Semi Expanded";
  src: url("/tipografia/subset-Brice-BlackSemiExpanded.woff2") format("woff2"),
    url("/tipografia/subset-Brice-BlackSemiExpanded.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brice Semi Bold Condensed";
  src: url("/tipografia/subset-Brice-SemiBoldCondensed.woff2") format("woff2"),
    url("/tipografia/subset-Brice-SemiBoldCondensed.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brice Bold Condensed";
  src: url("/tipografia/subset-Brice-BoldCondensed.woff2") format("woff2"),
    url("/tipografia/subset-Brice-BoldCondensed.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url("/tipografia/subset-Roboto-Light.woff2") format("woff2"),
    url("/tipografia/subset-Roboto-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

h2 {
  font-family: "Brice Semi Bold Condensed";
  font-weight: normal;
  font-size: clamp(1.333rem, 4vw + 1rem, 3.333rem);
  line-height: 1;
  margin: 0 0 1em 0;
}

h3 {
  font-family: "Brice Black Semi Expanded";
  font-weight: normal;
  font-size: clamp(1.167rem, 2vw + 0.25rem, 1.556rem);
  line-height: 1;
  text-transform: uppercase;
}

h4 {
  font-family: "Brice Black Semi Expanded";
  font-weight: normal;
  font-size: clamp(1rem, 1.25vw + 0.25rem, 1.1rem);
  line-height: 1;
  text-transform: uppercase;
}

.bold {
  font-family: "Brice Bold Condensed";
}
.semi-bold {
  font-family: "Brice Semi Bold Condensed";
}
.black-semi-expanded {
  font-family: "Brice Black Semi Expanded";
}

.hot-pink {
  color: $color-hot-pink;
}

.electric-blue {
  color: $color-electric-blue;
}
.green {
  color: $color-green;
}
.gris {
  color: $color-gris-semi-oscuro;
}
