@import "botones";
@import "breakpoints";
@import "efectos";
@import "colores";

.cta-curso {
  background-color: $color-electric-blue;
  position: relative;
  overflow: hidden;
  .wrapper {
    display: flex;
    justify-content: center;
  }
  @include md {
    position: static;
  }
}

.cta-curso-inner {
  color: white;
  padding: 30px 0 130px;
  @include md {
    padding: 50px 0;
  }
  max-width: 890px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  // @include md {
  //   grid-template-columns: 1fr 1fr;
  // }
  a.boton {
    @include boton-pink;
  }
  h2 {
    margin-bottom: 0;
  }
  .texto {
    z-index: 1;
    max-width: 400px;
    p {
      font-family: "Brice Light";
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .ilustracion {
    z-index: 0;
    position: absolute;
    bottom: -30px;
    right: -100px;
    @include md {
      position: static;
    }
    img {
      max-width: 300px;
    }
  }
}
