@import "breakpoints";
@import "colores";

.derechos-interior {
  // max-width: 750px;
  // margin: 0 auto;
  // padding: 30px;
  // > * + * {
  //   margin-top: 1em;
  // }
  // @media screen and (min-width: 630px) {
  //   padding: 30px 0;
  // }
  // @include md {
  //   padding: 50px 0;
  // }
  h2,
  h3 {
    font-family: "Brice Bold";
  }
  h2 {
    font-size: 44px;
    line-height: 1;
    @include lg {
      font-size: 56px;
    }
  }
  h3 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 32px;
  }
  h2 + h3 {
    margin-top: -0.5em;
  }
  h4 {
    color: $color-hot-pink;
    margin: 40px 0 24px 0;
    font-size: 32px;
    line-height: 1;
    font-family: "Brice Bold";
  }
  h4 + p {
    margin-top: 24px;
  }
  p {
    font-family: "Brice Light";
  }
  .parrafo-importante {
    font-size: 24px;
    // margin-bottom: 30px;
  }
  li {
    font-family: "Brice Light";
  }
  details {
    summary {
      font-family: "Brice Bold";
      font-size: 24px;
      line-height: 1;
      list-style: none;
      margin-bottom: 32px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      word-break: break-word;
      @include md {
        font-size: 32px;
      }
      .indicador {
        rotate: 180deg;
        flex-shrink: 0;
        margin-left: 50px;
      }
    }
    &[open] {
      margin-bottom: 48px;
      summary {
        .indicador {
          rotate: 360deg;
        }
      }
    }
    p {
      @include lg {
        padding-right: 75px;
      }
    }
  }
  details + details {
    margin-top: 16px;
  }
  h5 {
    font-family: "Brice Bold";
    text-transform: uppercase;
    font-size: 20px;
  }
}

.centrar-contenido {
  max-width: 750px;
  padding: 30px;
  margin-inline: auto;
}

.seccion-derechos-humanos-internet,
.seccion-violencia,
.seccion-herramientas,
.seccion-justicia {
  padding-block: 30px;
  @include md {
    padding-block: 50px;
  }
  @include lg {
    padding-block: 80px;
  }
}

.seccion-violencia {
  background-color: #fffafc;
  li {
    margin-block: 16px;
  }
  .aviso {
    background-color: #e0fff3;
    padding: 32px 24px;
    margin: 40px 0;
    border-radius: 8px;
    word-break: break-word;
  }
  .recomendaciones {
    margin-top: 40px;
    background-color: #ffd6dc;
    border-radius: 8px;
    padding: 32px 24px;
    h3 {
      font-size: 24px;
      margin-bottom: 24px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      ul {
        padding-left: 2em;
        li {
          border-bottom: none;
          padding: 0.1em 0;
        }
      }
    }
  }
}

.seccion-justicia {
  background-color: #fff5f5;
}

.lista-cyber {
  padding: 0;
  margin: 0;
  list-style: none;
  @include lg {
    columns: 2;
    column-gap: 2em;
    margin-top: 24px;
    li {
      margin-bottom: 16px;
      margin-top: 0;
      break-inside: avoid;
    }
  }
}

.source {
  margin: 16px 0;
}

.seccion-herramientas {
  h4 {
    color: black;
  }
  .aviso {
    background-color: #e0fff3;
    padding: 32px 24px;
    margin: 40px 0;
    border-radius: 8px;
    word-break: break-word;
  }
}

.parrafo-importante + .paso,
.paso + .paso {
  margin-top: 50px;
}

.paso {
  h5 {
    color: $color-hot-pink;
  }
  h4 {
    color: black;
    font-size: 24px;
  }
  h5,
  h4 {
    margin: 0;
  }
}
