@import "reset";
@import "colores";
@import "tipografia";
@import "efectos";
@import "botones";
@import "breakpoints";
@import "header";
@import "footer";
@import "navegacion";
@import "cta-curso";
@import "historia-interior";
@import "derechos-interior";
@import "layout";
@import "seccion-hero";
@import "home";
@import "perfiles";
@import "comunidad";
@import "por-que";
@import "selecciona-perfil";
@import "conquista-derechos";
@import "podcast";
@import "podcast-interior";
@import "galeria";
@import "menu-flotante";
@import "mas-perfiles";

// html,
// body {
//   overflow-x: hidden;
// }

html {
  scroll-behavior: smooth;
  @include xl {
    overflow-x: hidden;
  }
}

body {
  font-family: "Brice", serif;
  font-size: 18px;
}

p + p {
  margin-top: 1.5em;
}

.skip-link {
  position: absolute;
  transform: translateY(-300%);
  transition: transform 200ms ease-in;
  background-color: $color-green;
  text-transform: uppercase;
  padding: 0.5em 1em;
  left: 0.5em;
  border-radius: 0 0 3px 3px;
  color: white;
  text-decoration: none;
  &:focus {
    transform: translateY(0);
  }
}

// Fondos para encabezados

.bg-home-page,
.bg-curso,
.bg-figura {
  background-color: $color-electric-blue;
}

.bg-queer,
.bg-derechos,
.bg-podcast {
  background-color: $color-hot-pink;
}
.bg-activista,
.bg-historia {
  background-color: $color-green;
}

.titulo {
  .texto-chiquito {
    color: white;
  }
}

.hero-interior {
  .wrapper {
    justify-content: center;
    max-width: 750px;
    h1,
    .titulo {
      text-align: center;
      @include md {
        text-align: left;
      }
    }
    @include md {
      padding-inline: 0;
    }
  }
}

.bg-podcast,
.bg-curso {
  .wrapper {
    padding-bottom: 20px !important;
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Just checking tambien
