@import "breakpoints";
@import "colores";

.historia-interior {
  max-width: 750px;
  margin: 0 auto;
  > * + * {
    margin-top: 1em;
  }
  @media screen and (min-width: 630px) {
    padding: 30px 0;
  }
  @include md {
    padding: 50px 0;
  }
  h3 {
    font-size: 32px;
    font-family: "Brice Bold";
    color: $color-electric-blue;
    line-height: 1;
    margin-bottom: 16px;
    &.top-padding {
      padding-top: 100px;
    }
  }
  h4 {
    font-family: "Brice Bold";
    font-size: 24px;
    text-transform: none;
  }
  p {
    font-family: "Brice Light";
    line-height: 140%;
  }
}

.bibliografia {
  background-color: #f8f8f8;
  padding: 4em 0;
  max-width: 750px;
  margin: 0 auto;
  h4 {
    margin-bottom: 2em;
    font-family: "Brice Bold";
    font-size: 20px;
    color: black;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > * + * {
      margin-top: 1em;
    }
    li {
      font-style: italic;
      font-family: "Brice Light";
    }
  }
}

.bg-queer,
.bg-activista,
.bg-figura {
  .wrapper {
    padding-bottom: 0 !important;
  }
}
