---
titulo: Podcast Libres y Segures en Internet
permalink: "es/podcast/"
layout: "layouts/podcast.html"
hero:
  image: "/imagenes/encabezados/podcast.png"
  imageAlt: "Podcast Libres y Segures en Internet"
  title: Libres y Segures en Internet
  smallTitle: Podcast
translationKey: "Podcast"
tag: podcast
---

<div class="centrar-contenido seccion-podcasts">
  <h2>Ultimo episodio</h2>
  <div class="episodio">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/episode/7pKJvwBtsh7AOHP1jz28cS?utm_source=generator&t=0"
      width="100%"
      height="232"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    ></iframe>
  </div>
  <p>
    La serie de podcast "Libres y Segures en Internet" es una entrega de 10
    episodios con entrevistas a activistas, artistas, influencers, abogadxs,
    periodistas, tecnólogxs y académicxs paraguayxs y latinoamericanos, miembros
    de la comunidad TLGBIQ+ y/o que trabajan desde sus ámbitos particulares
    alrededor de las temáticas de género y sexualidad.
  </p>
  <p>
    Esta serie, desarrollada en colaboración con la organización
    <a href="http://www.cuartomundo.net/" target="_blank">Cuarto Mundo</a>,
    busca ilustrar cómo los espacios digitales reproducen las dinámicas de poder
    de nuestra sociedad, y a su vez, la manera en que la tecnología está siendo
    utilizada como una herramienta de empoderamiento para todxs.
  </p>

  <h2 class="top-padding">Todos los episodios</h2>
  <div class="episodios">
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/7pKJvwBtsh7AOHP1jz28cS?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/1fyXWBJ60AAIVO5zZxqLU1?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/2U4wQF5gkmGkhZFoqfSL6K?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/16DTyIJQkZGuWUjbPkX5uZ?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/5sXRe9X9mCH4dFrnwi5XiM?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/383I3s3ze8QqGJ0QfDTx1G?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/6eJfOhTzvuoGSJ6lHmDzrH?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/6gfjydHYsCDhlnRKw5WDqq?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/7IHtuHUMPe4biVGCbvVu33?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
    <div class="episodio">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/episode/0UIZqau0QOcvt97xFG7BZy?utm_source=generator&t=0"
        width="100%"
        height="232"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
    </div>
  </div>
</div>
