---
tituloPagina: Derechos
titulo: Derechos
permalink: "es/derechos/"
hero:
  image: "/imagenes/encabezados/derechos.png"
  imageAlt: "Derechos humanos en Internet"
  title: Derechos humanos en Internet
translationKey: "Derechos"
tag: derechos
---

<div class="menu-flotante">
  <ul>
    <li>
      <a href="#derechos-humanos-internet">Derechos humanos en Internet</a>
    </li>
    <li>
      <a href="#violencia">Violencia</a>
    </li>
    <li>
      <a href="#herramientas">Herramientas para defender la comunidad</a>
    </li>
    <li>
      <a href="#justicia">Justicia</a>
    </li>
  </ul>
</div>

<div class="derechos-interior pin-trigger">
  <div class="seccion-derechos-humanos-internet">
    <div class="centrar-contenido">
      <h2 class="electric-blue" id="derechos-humanos-internet">
        Derechos humanos en Internet
      </h2>

      <details open>
        <summary>
          Privacidad
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Es el derecho que tienen todas las personas de no sufrir injerencias
          arbitrarias. No se trata de ocultar o esconder cosas queremos mantener
          en secreto: se trata del derecho a elegir cuándo y con qué fines la
          persona quiere revelar cierta información. La privacidad protege de
          las discriminaciones que se pueden dar en el acceso a la vivienda, al
          empleo, salud y otros derechos para una vida digna. Por ejemplo: salir
          del armario de forma segura y encontrar una comunidad fiable con la
          que conectarse puede ser una tarea difícil. Las personas LGTBIQ+
          corren el riesgo de perder a familiares y amigos cuando reconocen
          públicamente su condición, por lo que suelen buscar ayuda en las redes
          y comunidades en línea. Además permite a la comunidad buscar
          información sobre sus derechos y cómo afrontar sus derechos a no ser
          discriminados.
        </p>
      </details>

      <details>
        <summary>
          Libertad de expresión
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Toda persona tiene derecho a la libertad de pensamiento y de
          expresión. “Este derecho comprende la libertad de buscar, recibir y
          difundir información e ideas de toda índole, sin consideración de
          fronteras, ya sea oralmente, por escrito o en forma impresa o
          artística, o por cualquier otro procedimiento de su elección”.
          Artículo 13 de la Convención Americana de Derechos Humanos. En el
          mismo sentido, el Pacto Internacional de Derechos Civiles y Políticos
          en su art. 19 reconoce este derecho.
        </p>
        <p>
          Este es un derecho por excelencia porque protege a las expresiones y
          opiniones de todas las personas, incluyendo a las personas de la
          comunidad LGTBIQ+ en Internet. Por ejemplo Podés difundir tus ideales
          y valores en la red social Twitter sin recibir discriminación laboral.
          No te pueden obligar a crear perfiles o tener un determinado
          comportamiento Internet (likes y comentarios, fotos etc) en tu red
          social.
        </p>
      </details>

      <details>
        <summary>
          Anonimato en Internet
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Es un derecho intrínseco a la libertad de expresión y sirve para
          evitar de represalias y persecuciones por el ejercicio pleno de los
          derechos en el entorno digital. Reduce el riesgo de violencia y
          estigmatización, que afecta desproporcionadamente a esta comunidad. En
          ese sentido, el anonimato también es un aliado para proteger el
          ejercicio de los derechos sexuales y reproductivos en Internet. Por
          ejemplo, permite que existan perfiles anónimos de personas y
          colectivos para expresarse sobre los derechos a su identidad sexual y
          de género en Internet. Más información en la página web
          <a href="https://derechosdigitales.org/anonimato/" target="_blank"
            >derecho al anonimato.</a
          >
        </p>
      </details>

      <details>
        <summary>
          Libertad de reunión y manifestación pacífica
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Son derechos fundamentales y garantizan que cada persona pueda
          reunirse en grupos, manifestaciones, partidos, sindicatos o unirse
          para un propósito particular. El derecho de reunión pacífica incluye
          el derecho a celebrar encuentros, sentadas, huelgas, mítines, eventos
          o manifestaciones multitudinarias, tanto en Internet como fuera de
          esta red. Constituye un medio para el ejercicio de muchos otros
          derechos como la libertad de expresión y a participar en la dirección
          de asuntos políticos. Internet trae nuevos contornos a estas
          libertades y permite a la comunidad LGTBIQ+ la oportunidad de
          manifestarse en Internet de manera masiva a través de hashtag,
          perfiles públicos y anónimos, memes y otros formatos para expresar su
          disconformidad ante desigualdades.
        </p>
      </details>

      <details>
        <summary>
          Derecho a la libertad de expresión artística
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          Es un aspecto fundamental de los derechos culturales. Este derecho
          comprende la libertad de buscar, recibir y difundir información e
          ideas de toda índole, "en forma artística", el derecho "a gozar de las
          artes" y de la creatividad de los otros, y comprende también
          obligaciones por los Estados de respetar la indispensable libertad
          para la actividad creativa" (<a
            href="https://undocs.org/es/A/HRC/23/34"
            target="_blank"
            >A/HRC/23/34</a
          >, 2013). Esto permite a la comunidad LGTBIQ+ expresar y crear sus
          obras artísticas sin represalias también en Internet. Y que los
          Estados no bloqueen el acceso a esta obras artísticas en Internet. Más
          info:
          <a href="https://expo.tedic.org/es/" target="_blank"
            >Expo pop-up tech - TEDIC</a
          >.
        </p>
      </details>

      <details>
        <summary>
          Derechos sexuales y reproductivos en Internet
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          La identidad sexual y la identidad de género son aspectos integrales
          de la individualidad de cada persona y en ningún caso deberían ser
          motivo de discriminación ni abusos.
        </p>

        <p>
          El sexting es una forma de libertad sexual que consiste en compartir
          el cuerpo en Internet a través de imágenes, videos, textos y audios a
          otras personas. Esta acción contribuye a nuestra autodeterminación en
          el ámbito de la sexualidad, sin más limitaciones que el respeto a la
          libertad ajena. Esta facultad se expande al utilizar el propio cuerpo
          a voluntad en Internet. El sexting es un ejercicio del derecho sexual
          y reproductivo, que implica el bienestar individual, interpersonal y
          social de cada persona. Por ejemplo: este derecho te permite enviar
          fotos íntimas a otres bajo consentimiento mutuo.
        </p>
      </details>

      <details>
        <summary>
          Derecho a una vida libre de violencia de género
          <div class="indicador">
            <img src="{{'/imagenes/arrow_up.svg'}}" alt="" />
          </div>
        </summary>
        <p>
          En Internet tenemos derecho a una vida libre de violencia de género y
          esto impacta también a las comunidades LGTBIQ+. Por ejemplo, este
          derecho permite que personas LGTBIQ+ puedan navegar sin que nadie
          perturbe su tranquilidad, integridad y seguridad.
        </p>
      </details>
    </div>
  </div>
  <div class="seccion-violencia">
    <div class="centrar-contenido">
      <h2 class="hot-pink" id="violencia">VIOLENCIA</h2>
      <h3 class="rosa-claro">Tipo de violencias que afectan a la comunidad</h3>

      <p class="parrafo-importante">
        La normalización de la violencia a las personas LGTBIQ+ en Internet ha
        impedido que las mujeres ejerzan de forma significativa su derecho a la
        libertad de expresión: una condición previa y esencial para la
        participación en igualdad de condiciones. Entre algunas de las formas de
        violencia digital se encuentran:
      </p>

      <h4>Discurso del odio</h4>
      <p>
        Este tipo de violencia está prohibido por la doctrina americana de
        liberad de expresión (Art 13 de la Convención Americana de los Derechos
        humanos). El discurso de odio en Internet se refiere a cualquier uso de
        la tecnología de comunicaciones electrónicas para difundir mensajes o
        información homofóbicos, antisemitas, racistas, intolerantes,
        extremistas o terroristas. Estas tecnologías de comunicaciones
        electrónicas incluyen todas las plataformas en Internet: sitios web,
        sitios de redes sociales, contenido generado por el usuario en la web,
        sitios de citas, blogs, juegos en línea, mensajes instantáneos y correo
        electrónico, así como otras computadoras y celulares.
      </p>

      <h4>Cyberbullying</h4>
      <p>
        Es el daño intencionado y repetido infligido mediante el uso de
        computadoras, teléfonos móviles y otros dispositivos electrónicos".
      </p>

      <p>
        Este tipo de violencia debe incluir los siguientes elementos (según el
        Cyberbullying Research Center):
      </p>
      <ul class="lista-cyber">
        <li>
          <h5>Voluntario</h5>
          El comportamiento tiene que ser deliberado, no accidental
        </li>
        <li>
          <h5>Repetido</h5>
          La intimidación refleja un patrón de comportamiento, no sólo un
          incidente aislado
        </li>
        <li>
          <h5>Dañino</h5>
          El objetivo debe percibir que se le ha infligido un daño
        </li>
        <li>
          <h5>Tecnología</h5>
          La utilización de computadoras, teléfonos móviles y otros dispositivos
          electrónicos. Este es elemento principal para diferenciar del acoso
          tradicional.
        </li>
      </ul>
      <div class="source">Fuente: Cyberbullying Research Center</div>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-1.svg" alt="" />
      </div>

      <h4>Difusión de imagen íntima no consentida</h4>
      <p>
        Es la publicación de contenidos, generalmente imágenes con contenido
        sexual explícito o sugerente, sin el consentimiento de la persona que
        aparece representada y que fueron tomadas dentro de un ámbito privado.
        Las imágenes con contenido sexual son típicamente distribuidas en medios
        masivos como Internet, tanto por ex-parejas como por desconocidos con
        acceso no autorizado a imágenes y grabaciones íntimas de la víctima. Más
        info: Difusión de imagen íntima no consentida - TEDIC.
      </p>

      <h4>Acoso online</h4>
      <p>
        Consiste en que una o varias personas utilicen la tecnología para
        vigilar, perseguir, hostigar, asediar o buscar establecer contacto o
        cercanía con una persona de tal modo que pueda alterar el normal
        desarrollo de su vida cotidiana. Son actos que pueden ocurrir una sola
        vez o de forma repetitiva y no solicitada, contra una persona, grupos de
        personas u organización que son percibidos como intrusivos o
        amenazadores. Más info: Violencia de género por medios digitales en
        América Latina.
      </p>

      <h4>Ataques coordinados</h4>
      <p>
        Son aquellos que se realizan de manera coordinada y por más de una
        persona hacia otra, una publicación específica o una página en las
        redes. La finalidad puede ser variada: difusión de datos personales para
        causar hostigamiento y acoso, o incluso lograr la eliminación de los
        perfiles de las víctimas, crear identidades falsas para así poder
        esparcir publicaciones y noticias falsas. Mas info: Tecnoresistencias.
      </p>

      <h4>Discriminación</h4>
      <p>
        Son acciones que buscan excluir a una persona por sus características
        físicas, identidad de género (siendo las personas de la comunidad
        LGTBIQ+ las más afectadas), opiniones, entre otros. Entre estas acciones
        están las referentes al discurso homofóbico y LGTBIQ+ fóbico. Este tipo
        de acoso ataca a la comunidad LGTBIQ+ y a todo contenido que desafíe la
        heteronormatividad. Usan mensajes humillantes que buscan ridiculizar y
        deslegitimar la orientación sexual e identidad de género de las
        personas. Son comunes sobre todo en el caso de mujeres lesbianas o de
        mujeres trans. También, las amenazan con violencia sexual explícita. Más
        info: Tecnoresistencias.
      </p>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-2.svg" alt="" />
      </div>

      <h4>Robo de identidad</h4>
      <p>
        Es el uso o falsificación de la identidad de una persona, grupo u
        organización sin su consentimiento. La creación de estos perfiles falsos
        utilizan la imagen o información para engañar a otres. Busca vulnerar el
        derecho de las personas LGTBIQ+ a existir también en estos espacios.
        Además, el robo de identidad se utiliza para circular información falsa
        en nombre de la víctima y así desprestigiarla, buscando humillarla,
        avergonzarla o aislar a la persona de su entorno social cercano, en
        contra de su voluntad, ejerciendo así violencia psicológica.
      </p>

      <h4>Exclusión</h4>
      <p>
        Consiste en la intención deliberada de no permitir que una persona de un
        grupo social, ya sea laboral, escolar u otro, participe de dinámicas en
        la que sí participan otros miembros, como pueden ser grupos de WhatsApp,
        juegos online o cualquier otro tipo de actividad que se realice en
        Internet. En el caso de los más chicos, la exclusión puede afectar el
        desarrollo de la autoestima.
      </p>

      <h4>Cancelación</h4>
      <p>
        La cultura de la cancelación sólo apunta a atacar, escrachar y dejar de
        apoyar a la persona o entidad que reproduce conductas reprochables y
        cuestionables, pero no plantea la necesidad de combatir al andamiaje
        sistémico e institucional patriarcal. Y es allí cuando se configura la
        cancelación como una forma de violencia digital similar y consiste en
        dejar de consumir o seguir a un usuario como represalia por tener una
        actitud cuestionable. Esta forma de violencia puede ser en respuesta a
        comentarios realizados por una figura pública o creador de contenidos y
        repercute negativamente en la percepción que otres pueden tener sobre
        ellos.
      </p>

      <h4>Grooming y online grooming (acoso y abuso sexual online)</h4>
      <p>
        Son formas delictivas de acoso que implican a una persona adulta que se
        pone en contacto con un niño, niña o adolescente con el fin de ganarse
        poco a poco su confianza para luego involucrarle en una actividad
        sexual. Esta práctica tiene diferentes niveles de interacción y peligro:
        desde hablar de sexo y conseguir material íntimo, hasta llegar a
        mantener un encuentro sexual. Más información: Save the children
      </p>

      <div class="aviso">
        Esta lista no es taxativa, conocé más en
        (https://violenciadigital.tedic.org/)
      </div>

      <div class="recomendaciones">
        <h3 class="hot-pink">
          Recomendaciones para proteger nuestra comunidad LGTBIQ+
        </h3>
        <ul>
          <li>No compartas material que pueda dañar o lastimar a otro</li>
          <li>
            No publiques ni difundas imágenes de otras personas sin su
            consentimiento
          </li>
          <li>
            Cortá la cadena. Si alguien te envía material que daña, vulnera o
            viola la intimidad de otre, no reenvíes ni compartas el contenido
          </li>
          <li>
            No hagas ni digas en Internet lo que no harías ni dirías en el mundo
            físico
          </li>
          <li>Si algo te incomoda, di NO</li>
          <li>
            Denunciá las publicaciones agresivas, violentas o que violen la
            intimidad de otro usuario en una red social o plataforma para que
            sean eliminadas
          </li>
          <li>
            La violencia digital se puede denunciar ante la justicia. Si eres
            víctima de grooming, acoso, robo de identidad, difusión no
            consentida de imágenes y otras formas de violencia: ¡denunciá!
          </li>
          <li>
            Si te sentís hostigada, agredida o acosada en Internet, habla con
            una persona de confianza y comunicale lo que te ocurre. Las personas
            agresoras intentan aislar a sus víctimas. No tengas vergüenza, pedí
            ayuda.
          </li>
          <li>
            Antes de decidir realizar o no una publicación en redes sociales,
            tomate dos minutos para pensar si:
            <ul>
              <li>¿Está confirmado que la información es verdadera?</li>
              <li>¿Puede agredir a alguien?</li>
              <li>¿Es información útil?</li>
              <li>¿Involucra a otras personas?</li>
              <li>
                Si involucra a otres, ¿tienes su permiso para compartirla?
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seccion-herramientas">
    <div class="centrar-contenido">
      <h2 class="green" id="herramientas">
        Herramientas para defender a la comunidad
      </h2>

      <h4>Cifrado en Internet</h4>
      <p>
        Cifrar una información significa ocultar el contenido de un mensaje a
        simple vista, de manera que haga falta una interacción tecnológica
        concreta para poder develar ese contenido. El cifrado se puede aplicar a
        contenidos tales como los archivos, datos, mensajes o cualquier tipo de
        información.
      </p>

      <p>
        Y sirve para hacer comunicaciones más seguras en Internet. El cifrado
        puede ser una herramienta potente que anime a las personas a usar
        Internet para salir del armario de una forma segura. Ejemplos: para
        muchos adolescentes, que todavía viven en casa con familiares que los
        rechazan, el cifrado puede ser la única herramienta que les permita
        declarar su condición de forma segura y según sus propias condiciones.
        Acceder a la información que se busca en Internet sin la vigilancia de
        terceros (empresas, Estados y personas conservadoras). Más info:
        Cifrado: imprescindible para la comunidad LGTBI.
      </p>

      <h4>Neutralidad en la red</h4>
      <p>
        Se basa en que los proveedores dan acceso a los contenidos sin
        privilegiar a un participante de la red por encima de otros. Es decir,
        trata como iguales a todas las máquinas conectadas con respecto a los
        paquetes que transporta. Según este principio, la persona no tendría que
        notar diferencia si navega en dos páginas o se descarga dos archivos
        iguales al margen de donde provengan. Si dos archivos pesan igual deben
        ser tratados igual sin importar el origen.
      </p>

      <p>
        La importancia de este principio para la comunidad LGTBIQ+ es porque
        garantiza la igualdad de acceso a contenidos. Evita que haya contenidos
        de primera y de segunda clase. Dentro de este razonamiento, también se
        protege la privacidad pues de alguna manera las proveedoras de servicios
        de Internet (ISP) podrían acceder a los datos para saber quién se
        conecta a qué y desde dónde. Esto permite que las páginas webs,
        expresiones artísticas online y contenidos en general de la Comunidad
        LGTBIQ+ no sean discriminados en Internet por las proveedoras de
        servicio de Internet, ni por los Estados. Más info: ¿Qué es la
        neutralidad en la red y por qué te tiene que importar? - TEDIC.
      </p>

      <h4>Privacidad por diseño</h4>
      <p>
        Es un principio pro-activo que se aplica al desarrollo tecnológico por
        el cual la protección de datos es incorporada en productos y servicios
        desde su concepción como un factor predeterminado. De esta forma los
        datos personales son tratados conforme a lo estipulado por el
        responsable, a través de todo el ciclo de vida de esa información: desde
        su captación hasta su supresión definitiva.
      </p>

      <p>
        Este principio obliga a los Estados, empresas, personas que generan
        herramientas tecnológicas a aplicar el cifrado de punto a punto,
        protección a la persona consumidora, privacidad, transparencia
        algorítmica, entre otros. Y permite que la solución tecnológica no
        discrimine a ninguna persona sobre la base del grupo, clase o categorías
        que se percibe como la identidad sexual y de género. Más info: Economía
        digital - TEDIC.
      </p>

      <h4>Teleconsultas</h4>
      <p>
        Las personas de la comunidad LGBTIQ+ se enfrentan a riesgos de salud
        desproporcionados y a un acceso desigual a los servicios de salud.
        Debido en gran parte a la discriminación sistémica, estructural y a la
        falta de acceso a la educación sexual pertinente. Este mismo problema se
        traslada a Internet: si los Estados garantizan el acceso de todos sus
        habitantes a Internet de calidad, se podrá abordar los obstáculos
        inherentes a las comunidades que se encuentran en el lado equivocado de
        la brecha digital y desencadenar nuevas tendencias innovadoras en
        nuestros países y que permitan a estas comunidades acceder a las mismas
        oportunidades que las demás personas.
      </p>
      <div class="ilustracion">
        <img src="/imagenes/ilustraciones-derechos/derechos-3.svg" alt="" />
      </div>
      <div class="aviso">
        <p>
          Las personas LGTBIQ+ son menos propensas a buscar atención médica
          debido a:
        </p>
        <ul>
          <li>La falta de acceso a una atención competente y afirmativa</li>
          <li>
            Miedo al estigma y la discriminación, a menudo basado en
            experiencias negativas
          </li>
          <li>
            Niveles más bajos de cobertura de seguro y tasas más altas de
            pobreza
          </li>
        </ul>
      </div>

      <p>
        La Teleconsulta puede ser una importante aliada para acompañar a la
        comunidad. Las decisiones en materia de salud vienen acompañadas de
        complicaciones adicionales. Muchas personas LGTBIQ+ luchan por encontrar
        un médico al que puedan revelar su identidad sexual y género. Esto
        provoca que muchas personas de la comunidad LGTBIQ+ eviten ir a la
        consulta médica. Para estos casos, las soluciones de teleconsulta
        podrían proporcionar un vínculo de confianza para las consultas en
        tiempo real con la atención que de otro modo no estaría disponible en su
        comunidad. Más info: Mente en línea.
      </p>
    </div>
  </div>

  <div class="seccion-justicia">
    <div class="centrar-contenido">
      <h2 class="hot-pink" id="justicia">Justicia</h2>
      <h3>Documenta la evidencia y reporta</h3>

      <p class="parrafo-importante">
        ¿Te encontrás en una situación de violencia y querés ejercer tu derecho
        al acceso a la justicia? Es muy importante que recojas y conserves de la
        forma más completa y ordenada la evidencia de tu caso. Aquí los pasos a
        seguir:
      </p>

      <div class="paso">
        <h5>Paso 1</h5>
        <h4>Escribí los hechos, ¿qué ocurrió?</h4>

        <p>
          Describí brevemente cada evento con la suficiente claridad para que
          alguien que no sabe mucho sobre el caso lo pueda comprender. Tratá de
          incluir fecha, hora y todo dato que identifique lo ocurrido.
        </p>
      </div>

      <div class="paso">
        <h5>Paso 2</h5>
        <h4>Guardá la evidencia</h4>
        <p>
          Capturá las pantalla de la publicación o correo donde ocurrió el
          acoso. Si es una foto o mensaje hacé una captura de pantalla o una
          impresión. Si son mensajes de voz, audios o videos guardalos en un
          disco externo (o pendrive). Conservá siempre una copia de respaldo.
          Identificá la dirección del sitio desde donde se difunde el vídeo y de
          la cuenta de usuario en la plataforma.
        </p>

        <p>
          Si creés necesario registrá lo documentado ante una escribanía de
          confianza.
        </p>
      </div>

      <div class="paso">
        <h5>Paso 3</h5>
        <h4>Reportá en redes</h4>

        <p>
          Si el caso ocurrió en una red social es importante que lo reportes en
          su plataformas bajo sus criterios de normas comunitarias. Ellos en
          general tampoco están a favor de la discriminación, el discurso de
          odio, ni el acoso online.
        </p>

        <p>
          Si el acoso online ocurrió en mensajerías tené en cuenta que para
          solicitar los contenidos de los mensajes, deberás hacerlo con una
          orden judicial (vía exhorto). No olvides que las conversaciones por lo
          general están cifradas de punto a punto: esto significa que las
          empresas de mensajería solamente podrán facilitar metadatos de la
          conversación, pero no el contenido. Más info: Acoso online.
        </p>
      </div>

      <div class="paso">
        <h5>Paso 4</h5>
        <h4>Resistí en Internet</h4>

        <p>
          Silenciá o bloqueá a la persona agresora y configurá tu privacidad en
          tus redes: restringí tu visibilidad a través de las configuraciones de
          tu perfil. Elegí bien quienes pueden ver tus contenidos. Seguí los
          pasos que se describen en el bloque de seguridad digital (XXX poner el
          link cuando esté la web).
        </p>
      </div>

      <div class="paso">
        <h5>Paso 5</h5>
        <h4>Denunciá ante la justicia</h4>
        <p>Revisá la legislación que hay en tu país para estos casos.</p>

        <p>
          <strong>En el fuero penal:</strong> dependiendo del tipo de violencia
          y la tipificación de tu país, podés saber si la acción será pública
          (con una denuncia ante la policía o fiscalía, la fiscalía realizará la
          investigación) o privada (se impulsa a través de una querella de la
          defensora pública o abogada privada)
        </p>

        <p>
          <strong>En el fuero civil:</strong> la demanda se realiza siempre con
          una persona registrada como abogada.
        </p>
      </div>

      <div class="paso">
        <h5>Paso 6</h5>
        <h4>Conversá con tu comunidad</h4>
        <p>
          Estas tareas pueden resultar agobiantes para las personas LGTBIQ+ que
          estén pasando por ese momento. Es recomendable que cuentes con el
          apoyo de una persona de absoluta confianza para que te acompañe para
          recopilar la evidencia y mitigar los efectos de la violencia.
          Identificar, reconocerse como víctima y sostenerse no son pasos que
          una persona pueda hacer sola. Dialogá con tu comunidad LGTBIQ+
        </p>
      </div>
    </div>
  </div>
</div>
