---
tituloPagina: Historia
titulo: ORGULLO, DERECHOS HUMANOS Y MEMORIAS
subTitulo: un pequeño recorrido de la lucha por el reconocimiento de las personas TLGBI+
autor: Erwing Szokol
permalink: "es/historia/"
hero:
  image: "/imagenes/encabezados/historia.png"
  imageAlt: "Orgullo, derechos humanos y memorias"
  title: Orgullo, derechos humanos y memorias
translationKey: "Historia"
tag: historia
---

<div class="menu-flotante">
  <ul>
    <li>
      <a href="#introduccion">Introducción</a>
    </li>
    <li>
      <a href="#primera-ola">Primera ola del movimiento en Europa</a>
    </li>
    <li>
      <a href="#post-segunda-guerra"
        >Post segunda guerra mundial hasta los años 50</a
      >
    </li>
    <li>
      <a href="#inicios-liberacion"
        >Inicios del movimiento de liberación homosexual o segunda ola</a
      >
    </li>
    <li>
      <a href="#anhos-90"
        >Años 90 y la policía de los derechos humanos ante la ONU</a
      >
    </li>
    <li>
      <a href="#oea-fallos-cidh">OEA y los fallos de la CIDH</a>
    </li>
    <li>
      <a href="#bibliografia">Bibliografía</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="historia-interior pin-trigger">
    <div class="historia-datos">
      <div class="titulo">{{titulo}}:</div>
      <div class="subtitulo electric-blue">{{subTitulo}}</div>
      <div class="autor">{{autor}}</div>
    </div>

    <h3 id="introduccion">Introducción</h3>

    <p>
      La evolución por los derechos de las personas trans, lesbianas, gay,
      bisexuales e intersexuales (TLGBI) es de tempana aparición si lo
      comparamos con otros movimientos sociales, como el de las personas
      afrodescendientes y el feminista. En razón a esto, en este texto se
      explora los avances en cuanto a derechos a nivel internacional señalando
      los principales hitos que forman parte de este proceso de reconocimiento
      de las personas TLGBI como sujetes de derechos. En un segundo momento se
      indica las principales sentencias de la Corte Interamericana de Derechos
      Humanos (CIDH) que en sus textos sientas las bases para la actuación
      estatal en relación a los derechos de estas personas. Así como se hará una
      aproximación al cambio de paradigmas en cuanto a activismos de las
      personas fuera del patrón de la cis-heteronorma. Y finalmente abordaremos
      el caso paraguayo.
    </p>

    <p>
      El objetivo principal de este texto es de brindar contenidos teóricos, que
      sirvan de base para la reflexión de cómo se llegó al contexto en el que se
      vive hoy, así como, de ser un generador que impulse a profundizar
      temáticas de interés de cada persona activista, para el desarrollo de una
      línea de investigación y acción dentro del entorno comunitario.
    </p>
    <p>
      Los contenidos serán presentados de forma cronológica, en primer lugar,
      para poder entender el cómo se concibe las reivindicaciones que nos
      convocan, y en segundo lugar las consignas y discursos principales que
      pueden llegar a servirnos, una vez más, en nuestro actuar dentro del
      activismos y la militancia que estamos llevando adelante.
    </p>
    <p>
      En este sentido, propongo la consigna de “pensar globalmente para actuar
      localmente”. Esto es ver lo global y, al mismo tiempo, ver cómo esto
      afectó y nos sirve para el accionar local. Lo Glocal (Auyero, 2001:33)
      debe ser entendido como una mezcolanza de elementos de la historia
      hegemónica del norte y de las historias locales peculiares y propias de
      nuestro entorno. Para esto es indispensable situarse dentro del contexto
      general en que se desarrolla la sociedad actual, una sociedad que pregona
      una historia unidireccional y un pensamiento único que arrasa con su
      dinámica todo lo que se muestra como diferente.
    </p>
    <p>
      Pensar glocalmente nos ayudará a reforzar la identidad social/política y
      estética propia, nutrida de los aprendizajes y fracasos de la historia
      hegemónica que nos entrecruzan. Por historia hegemónica entenderemos a
      “esa historia” contada con mayor regularidad por “los otros” y que por lo
      general no nos incluye en su narrativa principal, sino como algo accesorio
      o secundario.
    </p>
    <p>
      Las preguntas que inspiran este texto son: ¿Cuándo inició el movimiento
      por los derechos TLGBI? ¿Presentó este movimiento las mismas
      características a lo largo del tiempo? ¿Qué hitos, puntos de inflexión, se
      dieron a lo largo de la historia en sociedades occidentales que marcaron
      el rumbo de las reivindicaciones de los derechos de las personas TLGBI? ¿Y
      en Paraguay, cómo se desarrolló esta lucha y en qué andamos?
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-1.svg" alt="" />
    </div>
    <h3 class="top-padding" id="primera-ola">
      Primera ola del movimiento en Europa
    </h3>
    <p>
      Ya a finales de 1800 se creó el Comité Científico Humanitario fundado en
      Berlín -Alemania, en mayo de 1897 para hacer una campaña por el
      reconocimiento social de hombres y mujeres homosexuales y transgéneros, y
      para luchar contra la persecución del artículo 175 del código penal alemán
      que penalizaba la homosexualidad (Lauritsen, 1974:9). Esta fue la primera
      organización de homosexuales en nuestra historia.
    </p>
    <p>
      En el ámbito cultural, en este periodo, se reflejó este clima
      reivindicativo. La libertad de prensa que se desarrolló durante la
      República de Weimar (1918-1933) facilitó que surgieran un gran número de
      publicaciones sobre la homosexualidad. Durante el periodo de entreguerras
      surgieron publicaciones dirigidas a homosexuales en gran parte de Europa.
      Con la ascensión del régimen nazi al poder y otros regímenes fascistas
      este clima de tolerancia fue aplacado por completo.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-2.svg" alt="" />
    </div>
    <h3 class="top-padding" id="post-segunda-guerra">
      Post Segunda Guerra Mundial hasta los años 50
    </h3>
    <p>
      Una vez terminadas las guerras mundiales, y con el advenimiento de la
      Guerra Fría se generalizó la persecución a las sexualidades disidentes.
      Por ejemplo, en Rusia se encontraban los Gulag o campos de concentración
      para disidentes políticos a donde eran destinados, también, los
      homosexuales (Mogutin, 2016 :13). Así también, al otro lado del mundo, en
      Estados Unidos de Norteamérica encontramos el conocido terror lila , que
      hace referencia al miedo hacia los homosexuales y su persecución en la
      década de 1950. En el ‘54 el régimen franquista (España) modifica la Ley
      de vagos y maleantes persiguiendo así a homosexuales y personas trans. Al
      igual que con otros asuntos de la política sexual, como la pornografía;
      las actitudes frente a las minorías sexuales suelen diferenciarse entre
      regímenes autoritarios y libertarios, más que entre derechas e izquierda
      (Weeks, 1989).
    </p>
    <p>
      Una de las primeras voces que se escuchó contra esta situación fue la de
      Frank Kameny, que luego de ser despedido del puesto como astrónomo del
      ejército de Estados Unidos de Norteamérica, Llevó su caso a la Corte
      Suprema de Justicia de ese país, bajo el argumento de que estaba siendo
      tratado como un ciudadano de segunda clase, y no como un ciudadano
      estadounidense. Argumentó que la discriminación contra los homosexuales
      era no menos ilegal y no menos odiosa que la discriminación basada en
      motivos religiosos o raciales.
    </p>
    <p>
      En cuanto a la forma de organización de la disidencia sexual, en este
      periodo encontramos principalmente a grupos homofílicos que buscaban la
      asimilación a la sociedad, proyectando una imagen normalizada y sana de
      las personas homosexuales (Mérida, 2009:193).
    </p>
    <p>
      Todo este periodo se vio nutrido e influenciado por la producción
      científica (médica y jurídica) desarrollada en ese contexto; es así que la
      medicina, con su incipiente desarrollo de la siquiatría, aportó nuevos
      elementos para el discurso en defensa de las personas no heterosexuales.
      Así también, los aportes del sicoanálisis fueron fundamentales para las
      nuevas argumentaciones en torno a la sexualidad.
    </p>
    <h3 class="top-padding" id="inicios-liberacion">
      Inicios del movimiento de liberación homosexual o segunda ola
    </h3>
    <p>
      Los disturbios de la cafetería Compton's , ocurrido en agosto de 1966 en
      San Francisco, fue la primera revuelta transgénero registrada en la
      historia de los Estados Unidos, adelantándose tres años a los famosos
      disturbios de Stonewall (Stryker, 2020:52).
    </p>
    <p>
      En 1967, en la clandestinidad, se funda en Argentina Nuestro Mundo, siendo
      esta la primera organización homosexual de Latinoamérica. Durante dos años
      este grupo envió panfletos e informes sobre la liberación gay a los
      principales periódicos de Buenos Aires. El accionar de este grupo
      desemboca que en 1971 se forme el Frente de Liberación Homosexual (FLH) de
      ese país. (Romero, 2019:69).
    </p>
    <p>
      El 28 de junio de 1969 en Nueva York se producen los conocidos disturbios
      de Stonewall, que dieron pie para la organización de la marcha por el
      orgullo gay en conmemoración del primer aniversario de esta revuelta, en
      principio en Nueva York y posteriormente en muchas ciudades de Europa y de
      américa latina. Tal evento se considera trascendental en la historia del
      movimiento gay, y aunque no era la primera vez que los homosexuales se
      opusieron de forma violenta a los abusos de las autoridades, la respuesta
      de la comunidad gay fue diferente.
    </p>
    <p>
      Los resultados más importantes de este motín vinieron a posterior y de
      forma pacífica. Este evento fue el catalizador que consiguió que las
      personas del colectivo LGBT se organizaran de forma generalizada para
      exigir sus derechos y luchar contra la discriminación y los abusos
      perpetrados por las autoridades públicas.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-3.svg" alt="" />
    </div>
    <p>
      Para que esto sea posible tuvo que darse una serie de acontecimientos,
      como la insurrección del mayo del 68 en Francia, la oposición a la Guerra
      de Vietnam en los Estados Unidos, las reivindicaciones feministas y las de
      los derechos civiles de las personas afroamericanas. Esto da como
      resultado el surgimiento en gran parte del mundo occidental una serie de
      organizaciones militantes de liberación homosexual. Muchas de estas
      organizaciones veían sus raíces en el radicalismo de izquierda, más que en
      los grupos homófilos establecidos en la época.
    </p>
    <p>
      En esta etapa el movimiento gay reanuda las investigaciones históricas y
      antropológicas iniciadas por la primera ola, arrojando luz sobre la
      persecución de los homosexuales a lo largo de los siglos y sobre el origen
      histórico de la condena anti-gay, una condena que, casi invariablemente,
      es promovida por la ideología que da primacía a la familia nuclear
      burguesa y heterosexual como algo natural y deseable.
    </p>
    <p>
      Si el anterior movimiento tenía un fuerte compromiso con la investigación
      psicológica, este nuevo movimiento luchó contra la persecución homosexual
      perpetrada bajo la apariencia de tratamientos psiquiátricos y fomentó la
      formación de grupos de autoconciencia.
    </p>
    <p>
      En 1971 se crea en Buenos Aires (Argentina) el Frente de Liberación
      Homosexual y en México se funda también, con el mismo nombre, el primer
      colectivo LGBT de ese país. En 1973 en Chile tuvo lugar una manifestación
      pública por los derechos homosexuales llevada a cabo en la Plaza de Armas
      de Santiago.
    </p>
    <p>
      En ese mismo año la Asociación Americana de Psiquiatría (APA) eliminó a la
      homosexualidad de la lista de desórdenes mentales. Esta despatologización
      alentó a gays y lesbianas a avanzar hacia la lucha por el reconocimiento
      de los derechos civiles dejando atrás las reivindicaciones de las personas
      trans; y, no será sino hasta el 2018 en que la OMS dejará de considerar a
      la transexualidad como una enfermedad mental.
    </p>
    <p>
      El ACT UP, grupo formado en ese contexto representa el quiebre con los
      grupos y organizaciones que buscaban la integración mediante derechos
      civiles; y su política se vuelca en la rabia, en el robo colectivo de
      medicamentos para los enfermos, así como en intervenciones callejeras y en
      la formación de un discurso radical (Mérida, 2009:193).
    </p>
    <h3 class="top-padding" id="anhos-90">
      Años 90 y la política de los Derechos Humanos ante la ONU
    </h3>
    <p>
      Los 90 se caracterizó por una fuerte reivindicación de los Derechos
      Humanos y una oenegización de la lucha en forma de lobby locales e
      internacionales mediante redes y federaciones de organizaciones.
    </p>
    <p>
      El 17 de mayo de 1990 la Organización Mundial de la Salud eliminó la
      homosexualidad de la lista de enfermedades mentales y en 1994 el Comité de
      Derechos Humanos de la ONU dictamina que las relaciones homosexuales están
      protegidas por el Pacto Internacional de Derechos Civiles y Políticos
      (PIDCP), interpretación lograda a la luz del fallo en el caso Toonen vs
      Australia.
    </p>
    <p>
      En 1991 el señor Toonen envió una queja al Comité de Derechos Humanos
      basada en las leyes tasmanas que criminalizaban el sexo consentido entre
      varones adultos en privado. Como resultado de su queja ante el Comité, el
      señor Toonen perdió su trabajo en el Consejo contra el Sida de Tasmania.
    </p>
    <p>
      El 31 de marzo de 1994 el Comité determinó que las prácticas sexuales
      consentidas entre adultos y en privado estaban protegidas por el concepto
      de “vida privada” del artículo 17 del PIDCP, que prohíbe las injerencias
      arbitrarias del Estado en la vida privada de las personas.
    </p>
    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-4.svg" alt="" />
    </div>
    <h3 class="top-padding" id="oea-fallos-cidh">
      OEA y los fallos de la CIDH
    </h3>
    <h4>Karen Atala e hijas vs. Chile</h4>
    <p>
      Con este nombre es conocida la demanda que la jueza chilena Karen Atala
      interpuso en contra del Estado de Chile, ante la CIDH en 2004 cuando la
      Corte Suprema de Chile decidiera quitarle la tutela de sus hijas,
      basándose únicamente en su orientación sexual, ya que ésta, pondría a las
      niñas en un estado de vulnerabilidad, según el tribunal.
    </p>
    <p>
      18 de diciembre de 2009, la CIDH ha explicado que la orientación sexual y
      la identidad de género son consideradas categorías protegidas por el
      artículo 1.1 de la Convención. Esto implica que toda diferencia de trato
      basada en tales criterios debe ser considerada “sospechosa”,y en
      consecuencia se presume incompatible con la Convención Americana.
    </p>
    <h4>Caso Duque vs. Colombia</h4>
    <p>
      El 26 de febrero de 2016, la Corte declaró que la república de Colombia es
      internacionalmente responsable de haber violado el derecho a la igualdad
      ante la ley y a la no discriminación en perjuicio de Ángel Duque por su
      orientación sexual, al no haberle permitido acceder en condiciones de
      igualdad a la pensión de sobrevivencia establecida en la legislación
      colombiana, luego del deceso de su pareja por ser esta del mismo sexo.
    </p>
    <h4>Vicky Hernández vs. Honduras</h4>
    <p>
      La CIDH responsabilizó a Honduras de la muerte de Vicky Hernández, una
      mujer trans defensora de derechos humanos que fue ejecutada de forma
      extrajudicial en la noche del 28 de junio de 2009, en medio de un toque de
      queda. Para este organismo, el asesinato de Hernández "constituyó un
      supuesto de violencia por prejuicio hacia su identidad y expresión de
      género". Según la CIDH, el Estado hondureño "no investigó adecuadamente,
      con la debida diligencia y en un plazo razonable los hechos del caso, que
      ha quedado en impunidad".
    </p>
    <p>
      Ya en el 2008 la Asamblea General de la OEA adoptó la resolución sobre
      Derechos Humanos Orientación sexual e identidad de género. Y en noviembre
      de 2011, en el marco del 143º período de sesiones, se creó una unidad
      especializada en esta materia en el seno de su Secretaría Ejecutiva.
    </p>
    <p>
      Finalmente, en el 2013 se estableció la Relatoría sobre los Derechos de
      las Personas LGBTI. La decisión de establecer esta relatoría refleja el
      compromiso de la CIDH por fortalecer y reforzar su labor en la protección,
      promoción y monitoreo de los derechos humanos de las personas lesbianas,
      gays, bisexuales, trans e intersex en la región.
    </p>
    <h4>El caso paraguayo</h4>
    <p>
      El 24 de julio de 1999 José Alberto Pérez Meza inició un proceso de
      reconocimiento de sociedad de hecho con Jenaro Antonio Espínola Tami ,
      argumentado la relación sentimental y de hecho que mantuvo con el causante
      desde 1967 hasta 1987 ininterrumpidamente. La CIDH consideró el caso
      inadmisible. Este hecho se configura como la primera demanda local llevada
      a nivel internacional fundamentada en la negación de derechos por
      orientación sexual.
    </p>
    <p>
      Otro hecho importante a nivel internacional ocurrió en el año 2015 cuando
      se realizó una audiencia temática sobre denuncias de actos de violencia e
      impunidad contra personas trans en Paraguay. Donde se evidenció la falta
      de debida diligencia por parte de los órganos investigativos paraguayo
      para dar respuestas a estos transfeminicidios.
    </p>

    <div class="ilustracion">
      <img src="/imagenes/ilustraciones-historia/historia-5.svg" alt="" />
    </div>
    <h4>Orgullo, derechos y recuperación de memorias</h4>
    <p>
      Antes de los finales de los 80’s las organizaciones de personas no
      heterosexuales solo se buscaban la liberación sexual, no se pensaba en
      términos de derechos. Las principales reivindicaciones giraban en torno a
      la despenalización de los actos sexuales, la despatologización de las
      personas homosexuales y trans y el fin de la persecución por parte del
      Estado y la sociedad. En los 90’s el movimiento de liberación sexual
      progresivamente va absorbiendo el paradigma de los Derechos Humanos, hasta
      convertirse en un movimiento con enfoque de derechos.
    </p>
    <p>
      Tenemos que destacar que durante la década de los 2000 en adelante se
      conquistaron una serie de derechos en varios países de Latinoamérica, como
      leyes de identidad de género, matrimonio igualitario, adopción, cupo
      laboral trans, entre otras medidas legislativas que favorecieron al
      reconocimiento de derecho a personas TLGBI.
    </p>
    <p>
      Ante lo anterior debemos señalar que en Paraguay no se consiguieron
      avances legislativos para la protección de las personas TLBGI. Lo anterior
      no implica necesariamente el estancamiento del movimiento de la disidencia
      sexual e de género. Sino que esto llevó a otra forma de activismo y
      reivindicaciones desde las organizaciones sociales. Centrándose en
      acciones de toma de espacios púbicos y un proceso de recuperación de
      memorias que forman parte de los antecedentes de la lucha en el país.
    </p>
    <p>
      En este sentido es de destacar las producciones enfocadas en las
      violaciones de derechos de las personas homosexuales durante la dictadura
      (1954- 1989). Estos trabajos colaboraron en generar una estética basada en
      figuras emblemáticas como el rostro de Bernardo Aranda, Carla y Chana. Así
      como el establecimiento de fechas conmemorativas como la declaración del
      30 de setiembre como el día nacional por los derechos de las personas
      LGTBI, así como la creación del día de la visibilidad lésbica en Paraguay
      celebrada durante el 16 de setiembre.
    </p>
    <p>
      Finalmente recordar que setiembre es considerado como el mes de las 108
      memorias, periodo de tiempo en el que se realizan una serie de actividades
      de conmemoración y reivindicación de las personas TLGBI. No podemos
      terminar sin decir que el contexto paraguayo es diferente al resto de los
      países de la región ya que no se puede obviar que, mientras en la región
      se debatía sobre derechos humanos, en Paraguay nos encontrábamos en una
      férrea dictadura que imposibilitó cualquier tipo de acción y pensamiento
      fuera del esquema dictatorial. Actualmente no encontramos ante un panorama
      donde el movimiento TLGBI paraguayo camina hacia delante, mientras vivimos
      en un Estado que camina hacia atrás.
    </p>
  </div>
</div>

<div class="bibliografia">
  <div class="wrapper">
    <h4 id="bibliografia">Bibliografía</h4>
    <ul>
      <li>
        Auyero, J. (2001). Glocal riots. International Sociology, 16 (1), 33-53.
      </li>
      <li>
        Lauritsen, J., & Thorstad, D. (1974). The early homosexual rights
        movement (1864-1935). New York: Times Change Press.
      </li>
      <li>Mérida Jiménez, Rafael (2009).</li>
      <li>
        Manifiestos Gays, lesbianos y queer (1969-1994). Barcelona: Icaria.
      </li>
      <li>
        Mogutin, Salva (2016). Gay in de Gulag. Index on Censorship (Ru), Vol.
        24, Nº 1
      </li>
      <li>
        Weeks, Jeffrey (1989). Sexual politics, revista New Internationalist, n°
        201
      </li>
      <li>
        Stryker, S. (2020). Historia de lo trans: las raíces de la revolución de
        hoy. Continta me tienes.
      </li>
      <li>
        Romero, F. & Simonetto, P. (2019). Sexualidades radicales: los
        movimientos de liberación homosexual en América Latina (1967-1989).
        Izquierdas, (46).
      </li>
      <li>
        Halperin, D. (2007). San Foucault: para una hagiografía gay. El cuenco
        de plata.
      </li>
    </ul>
  </div>
</div>
