---
titulo: LGBTQI+ Activists
permalink: "en/TLGBIQ-activist/"
hero:
  image: "/imagenes/encabezados/activista.png"
  imageAlt: "Know what you are facing"
  title: LGBTQI+ Activist
translationKey: "Activist"
tag: activista
---

{%- for historia in collections.activistas_ingles -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>{{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
