---
titulo: Figura pública
permalink: "en/public-figure/"
hero:
  image: "/imagenes/encabezados/figura.png"
  imageAlt: "Know what you are facing"
  title: Public Figure
translationKey: "Figura Pública"
tag: figura
---

{%- for historia in collections.figuras_ingles -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>[ INGLES ] {{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
