---
titulo: Neighborhood Queer
permalink: "en/neighborhood-queer/"
hero:
  image: "/imagenes/encabezados/queer.png"
  imageAlt: "Know what you are facing"
  title: Neighborhood Queer
translationKey: "Queer de Barrio"
tag: queer
---

{%- for historia in collections.queer_ingles -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>[ INGLES ] {{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
