<!DOCTYPE html>
<html lang="{{idioma}}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href=" {{ '/css/estilos.css' | url }}" />
    <link rel="stylesheet" href=" {{ '/css/splide.min.css' | url }}" />
  </head>
  <body>
    {% include "partials/encabezado.html" %}
    <main tabindex="-1" id="contenido-primario">
      {% block content %} {% endblock %}
    </main>
    <div class="seccion-footer">{% include "partials/footer.html" %}</div>
  </body>
  <script src="{{ '/js/gsap.min.js' | url }}"></script>
  <script src="{{ '/js/Flip.min.js' | url }}"></script>
  <script src="{{ '/js/ScrollTrigger.min.js' | url }}"></script>
  <script src="{{ '/js/CSSRulePlugin.min.js' | url }}"></script>
  <script src="{{ '/js/app.js' | url }}"></script>
  <script src="{{ '/js/animacion-cards.js' | url }}"></script>
  <script src="{{ '/js/splide.min.js' | url }}"></script>
  <!-- Matomo -->
  <script>
    var _paq = (window._paq = window._paq || []);
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function () {
      var u = "https://matomo.tedic.org/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "102"]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.async = true;
      g.src = u + "matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
  <!-- Probando-->
</html>
