{% extends "layouts/base.html" %} {% block content %}
<article
  class="seccion-hero hero-interior {{'bg-historia' if tag =='historia'}} {{'bg-derechos' if tag =='derechos'}}"
>
  <div class="wrapper">
    <h1>{{ tituloPagina }}</h1>
    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
  </div>
</article>
<div class="interior-comunidad">{{ content | safe }}</div>
<div class="cta-curso">{% include "partials/curso.html" %}</div>
{% endblock %}
