{% extends "layouts/base.html" %} {% block content %}
<article
  class="seccion-hero hero-interior {{'bg-queer' if tag =='queer'}} {{'bg-activista' if tag =='activista'}} {{'bg-figura' if tag =='figura'}}"
>
  <div class="wrapper">
    <h1>{{ hero.title }}</h1>
    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
  </div>
</article>
{#
<div class="wrapper">
  #}
  <div class="perfiles-interior">{{ content | safe }}</div>
  {#
</div>
#}
<div class="cta-curso">{% include "partials/curso.html" %}</div>
<div class="mas-perfiles">{% include "partials/mas-perfiles.html" %}</div>
{% endblock %}
