{% extends "layouts/base.html" %} {% block content %}
<article class="seccion-hero bg-home-page">
  <!-- <div class="hero-bg">
    <img src="{{'../imagenes/header-bg.svg'}}" alt="" />
  </div> -->
  <div class="wrapper">
    <h1>{{ hero.title }}</h1>
    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
  </div>
</article>
<article class="seccion-seleccionar-perfil">
  {% include "partials/seleccionarperfil.html" %}
</article>
<article class="seccion-conquista-derechos">
  {% include "partials/conquistaderechos.html" %}
</article>
<article class="seccion-por-que">{% include "partials/porque.html" %}</article>

<article class="seccion-podcast">
  {% include "partials/ctapodcast.html" %}
</article>
<article class="seccion-curso">{% include "partials/curso.html" %}</article>
<article class="seccion-te-podria-interesar">
  {% include "partials/galeria.html" %}
</article>
{% endblock %}
