{% extends "layouts/base.html" %} {% block content %}
<article
  class="seccion-hero hero-interior {{'bg-curso' if tag =='curso'}} {{'bg-podcast' if tag =='podcast'}}"
>
  <div class="wrapper">
    <div class="titulo">
      <span class="texto-chiquito">{{ hero.smallTitle }}</span>
      <h1>{{ hero.title }}</h1>
    </div>
    <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
  </div>
</article>
<div class="podcast-curso-interior">{{ content | safe }}</div>
{% endblock %}
