---
titulo: Curso de Seguridad Digital
permalink: "es/curso/"
layout: "layouts/podcast.html"
hero:
  image: "/imagenes/encabezados/curso.png"
  imageAlt: "Curso de Seguridad Digital"
  title: Seguridad Digital
  smallTitle: Curso de
translationKey: "Curso"
tag: curso
---

<div class="curso-presentacion">
  <div class="centrar-contenido">
    <p class="curso-destaque-parrafo">
      Bienvenida a la presentación del curso auto-administrado para activistas y
      defensores de derechos humanos.
    </p>
    <p>
      El objetivo es que cada persona y organización, sea capaz de crear su
      propio modelo de amenazas y así reducir el riesgo y los impactos de
      posibles ataques en el entorno digital.
    </p>
    <p>
      El tiempo que cada persona debería dedicar para hacer este curso es de 20
      horas. Se recomienda dedicar 2 horas por día y realizar las evaluaciones
      correspondientes.
    </p>
    <p>
      Al final del curso y si has completado las diferentes evaluaciones, podrás
      tener acceso a un certificado.
    </p>
  </div>
</div>

<div class="curso-instrucciones">
  <div class="centrar-contenido">
    <div class="grid-curso">
      <div class="texto">
        <p>
          <strong>1. </strong>Lo primero que debes hacer para participar es
          <a href="https://cursos.tedic.org/login/signup.php" target="_blank"
            >crear una cuenta</a
          >
        </p>
        <p>
          <strong>2. </strong>Luego ya podrás matricularte en el curso, para lo
          que vas a necesitar una
          <strong>clave de matriculación.</strong> (debes pedirla en tu grupo de
          referencia que trabaja con Tedic).
        </p>
        <p>
          <strong>3. </strong>Por último, ya podrás
          <a
            href="https://cursos.tedic.org/course/view.php?id=2"
            target="_blank"
            >ingresar al curso.</a
          >
        </p>
        <div class="acciones">
          <a
            href="https://cursos.tedic.org/login/signup.php"
            target="_blank"
            class="boton-full-pink"
            >Crear cuenta</a
          >
          <a
            href="https://cursos.tedic.org/course/view.php?id=2"
            target="_blank"
            class="boton-outline-pink"
            >Ingresar</a
          >
        </div>
      </div>
      <div class="imagen-curso">
        <img src="../../../imagenes/instrucciones-curso.svg" alt="" />
      </div>
    </div>
  </div>
</div>
