---
titulo: Activista TLGBIQ+
permalink: "es/activista-TLGBIQ/"
hero:
  image: "/imagenes/encabezados/activista.png"
  imageAlt: "Conocé lo que enfrentás"
  title: Activistas TLGBIQ+
translationKey: "Activista"
tag: activista
---

{%- for historia in collections.activistas_espanol -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>{{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
