---
titulo: Figura pública
permalink: "es/figura-publica/"
hero:
  image: "/imagenes/encabezados/figura.png"
  imageAlt: "Conocé lo que enfrentás"
  title: Figura Pública
translationKey: "Figura Pública"
tag: figura
---

{%- for historia in collections.figuras_espanol -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>{{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
