---
titulo: Queer de barrio
permalink: "es/queer-de-barrio/"
hero:
  image: "/imagenes/encabezados/queer.png"
  imageAlt: "Conocé lo que enfrentás"
  title: Queer de Barrio
translationKey: "Queer de Barrio"
tag: queer
---

{%- for historia in collections.queer_espanol -%}
<div class="container-historia">
  <div class="encabezado-historia">
    <div class="titulos">
      <h3>{{historia.data.numeroHistoria}}</h3>
      <h2>{{historia.data.titulo}}</h2>
    </div>
    <div class="imagen">
      <img src="{{historia.data.imagen}}" alt="" />
    </div>
  </div>
  <div class="desarrollo-historia">{{ historia.templateContent | safe}}</div>
</div>
{%- endfor -%}
