<div class="wrapper">
  <div class="conquista-derechos">
    <div class="titulo-conquista-derechos">
      <span class="conoce-mas">{{conquistaderechos[idioma].tituloXs}}</span>
      <h2>{{conquistaderechos[idioma].titulo}}</h2>
    </div>
    <div class="card-conquista-derechos historia">
      <h3>{{conquistaderechos[idioma].tituloHistoria}}</h3>
      <p>{{conquistaderechos[idioma].textoHistoria}}</p>
      <a class="cta-conquista" href="{{conquistaderechos[idioma].urlHistoria}}"
        >{{conquistaderechos[idioma].boton}}</a
      >
    </div>
    <div class="card-conquista-derechos derechos">
      <h3>{{conquistaderechos[idioma].tituloDerechos}}</h3>
      <p>{{conquistaderechos[idioma].textoDerechos}}</p>
      <a class="cta-conquista" href="{{conquistaderechos[idioma].urlDerechos}}"
        >{{conquistaderechos[idioma].boton}}</a
      >
    </div>
  </div>
</div>
