<article class="cta-podcast">
  <div class="wrapper">
    <div class="podcast-card">
      <div class="ilustracion">
        <img
          src="/imagenes/podcast-ilustracion.png"
          alt="Serie de Podcast Libres y Segures en Internet"
        />
      </div>
      <h2>{{ctapodcast[idioma].titulo}}</h2>
      <div class="acciones">
        <a class="boton" href="{{ctapodcast[idioma].url}}">
          <img src="../../imagenes/play-icon.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</article>
