<div class="wrapper">
  <article class="cta-curso-inner">
    <div class="texto">
      <span>{{curso[idioma].titulito}}</span>
      <h2>{{curso[idioma].titulo}}</h2>
      <p>{{curso[idioma].texto}}</p>
      <a class="boton" href="http://cursos.tedic.org/" target="_blank"
        >{{curso[idioma].boton}}</a
      >
    </div>
    <div class="ilustracion">
      <img
        src="/imagenes/encabezados/curso.png"
        alt="Curso 'Seguridad Digital para la Comunidad TLGBIQ+"
      />
    </div>
  </article>
</div>
