<a class="skip-link" href="#contenido-primario">Ir al contenido</a>
<a id="#inicio"></a>
<header role="banner" class="encabezado">
  <div class="wrapper">
    <div class="encabezado__inner">
      <a
        href="/{{idioma}}/"
        aria-label="{{ site.name }} - inicio"
        class="encabezado__brand"
      >
        <img src="{{'/imagenes/logo-inv.svg'}}" alt="" />
      </a>
      <nav class="navegacion" aria-label="Primary">
        <ul class="nav__list menu-cerrado">
          <li class="nav__nivel-superior con-submenu">
            <span class="menu-tag">
              {{encabezado[idioma].seguridad}}
              <span class="flechita"
                ><img src="{{'/imagenes/flechita.svg'}}" alt=""
              /></span>
            </span>
            <ul class="nav__container-submenu">
              <li class="nav__item-submenu">
                <a
                  href="{{encabezado[idioma].queer.url}}"
                  class="nav__item {{ 'link-activo' if '/queer' in page.url }}"
                  >{{encabezado[idioma].queer.nombre}}</a
                >
              </li>
              <li class="nav__item-submenu">
                <a
                  href="{{encabezado[idioma].activista.url}}"
                  class="nav__item {{ 'link-activo' if '/activista' in page.url }}"
                  >{{encabezado[idioma].activista.nombre}}</a
                >
              </li>
              <li class="nav__item-submenu">
                <a
                  href="{{encabezado[idioma].figura.url}}"
                  class="nav__item {{ 'link-activo' if '/figura' in page.url }}"
                  >{{encabezado[idioma].figura.nombre}}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav__nivel-superior con-submenu">
            <span class="menu-tag">
              {{encabezado[idioma].comunidad}}
              <span class="flechita"
                ><img src="{{'/imagenes/flechita.svg'}}" alt=""
              /></span>
            </span>
            <ul class="nav__container-submenu">
              <li class="nav__item-submenu">
                <a
                  href="{{encabezado[idioma].derechos.url}}"
                  class="nav__item {{ 'link-activo' if '/derechos' in page.url }}"
                  >{{encabezado[idioma].derechos.nombre}}</a
                >
              </li>
              <li class="nav__item-submenu">
                <a
                  href="{{encabezado[idioma].historia.url}}"
                  class="nav__item {{ 'link-activo' if '/historia' in page.url }}"
                  >{{encabezado[idioma].historia.nombre}}</a
                >
              </li>
            </ul>
          </li>
          <li class="nav__nivel-superior no-submenu">
            <a href="{{encabezado[idioma].podcast.url}}"
              >{{encabezado[idioma].podcast.nombre}}</a
            >
          </li>
          <li class="nav__nivel-superior no-submenu">
            <a class="destaque-boton" href="{{encabezado[idioma].curso.url}}"
              >{{encabezado[idioma].curso.nombre}}</a
            >
          </li>
          <li class="nav__nivel-superior no-submenu switch">
            {% include "partials/switch-idioma.html" %}
          </li>
        </ul>
        {#
        <ul class="nav__list">
          {% for item in navigation.items %}
          <li class="nav__nivel-superior">
            <a href="{{ item.url }}">{{ item.texto }}</a>
            <ul class="nav__container-submenu">
              {% for submenu in item.sublinks %}
              <li class="nav__item-submenu">
                <a href="{{ submenu.url }}">{{ submenu.texto }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        #}
      </nav>
      <div class="toggle-menu menu-cerrado">
        <div class="cerrado">
          <img src="{{'/imagenes/iconos/menu-cerrado.svg'}}" alt="" />
        </div>

        <div class="abierto">
          <img src="{{'/imagenes/iconos/menu-abierto.svg'}}" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
