<div class="wrapper">
  <footer>
    <ul>
      <li>
        <a href="#"
          ><img
            src="{{'/imagenes/logo-libres-y-segures.svg'}}"
            alt="Libres y Segures en Internet"
        /></a>
      </li>
      <li>
        <a href="https://tedic.org" target="_blank"
          ><img src="{{'/imagenes/logos-footer/tedic-nuevo.png'}}" alt=""
        /></a>
      </li>
      <li>
        <a href="https://programafrida.net/" target="_blank"
          ><img src="{{'/imagenes/logos-footer/lacnicfrida.png'}}" alt=""
        /></a>
      </li>
      <li>
        <a href="http://www.cuartomundo.net/" target="_blank"
          ><img src="{{'/imagenes/logos-footer/cuarto-mundo.png'}}" alt=""
        /></a>
      </li>
      <li>
        <a href="https://www.aireana.org.py/" target="_blank"
          ><img src="{{'/imagenes/logos-footer/aireana.png'}}" alt=""
        /></a>
      </li>
      <li>
        <a href="https://diversxs.lgbt/" target="_blank"
          ><img src="{{'/imagenes/logos-footer/logodiversxsparaguay.png'}}" alt=""
        /></a>
      </li>
      <li class="volver-arriba">
        <a href="#"
          >{{footer[idioma].linkTop}}
          <img src="{{'/imagenes/iconos/volver-arriba.svg'}}" alt=""
        /></a>
      </li>
    </ul>
  </footer>
</div>
