<div class="galeria">
  <h2>{{galeria[idioma].titulo}}</h2>
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide1}}" alt="" />
        </li>
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide2}}" alt="" />
        </li>
        {#
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide3}}" alt="" />
        </li>
        #}
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide4}}" alt="" />
        </li>
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide5}}" alt="" />
        </li>
        {#
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide6}}" alt="" />
        </li>
        #}
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide7}}" alt="" />
        </li>
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide8}}" alt="" />
        </li>
        {#
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide9}}" alt="" />
        </li>
        #}
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide10}}" alt="" />
        </li>
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide11}}" alt="" />
        </li>
        {#
        <li class="splide__slide">
          <img src="{{galeria[idioma].slide12}}" alt="" />
        </li>
        #}
      </ul>
    </div>
  </div>
</div>
