<div class="titulo-interior-select-profile">
  <div class="wrapper">
    <h4>{{seleccionarperfil[idioma].tituloInterno}}</h4>
    <h2>{{seleccionarperfil[idioma].tituloXl}}</h2>
  </div>
</div>
<div class="otros-perfiles">
  {% if 'queer' in page.url %}
  <div class="perfil perfil-activista">
    <a href="{{seleccionarperfil[idioma].urlActivista}}">
      <h3>{{seleccionarperfil[idioma].tituloActivista}}</h3>
      <img src="../../imagenes/activista-tlgbiq.png" alt="" />
    </a>
  </div>
  <div class="perfil perfil-figura">
    <a href="{{seleccionarperfil[idioma].urlFigura}}">
      <h3>{{seleccionarperfil[idioma].tituloFigura}}</h3>
      <img src="../../imagenes/figura-publica.png" alt="" />
    </a>
  </div>
  {% endif %} {% if 'activist' in page.url %}
  <div class="perfil perfil-queer">
    <a href="{{seleccionarperfil[idioma].urlQueer}}">
      <h3>{{seleccionarperfil[idioma].tituloQueer}}</h3>
      <img src="../../imagenes/queer-de-barrio.png" alt="" />
    </a>
  </div>
  <div class="perfil perfil-figura">
    <a href="{{seleccionarperfil[idioma].urlFigura}}">
      <h3>{{seleccionarperfil[idioma].tituloFigura}}</h3>
      <img src="../../imagenes/figura-publica.png" alt="" />
    </a>
  </div>
  {% endif %} {% if 'figur' in page.url %}
  <div class="perfil perfil-queer">
    <a href="{{seleccionarperfil[idioma].urlQueer}}">
      <h3>{{seleccionarperfil[idioma].tituloQueer}}</h3>
      <img src="../../imagenes/queer-de-barrio.png" alt="" />
    </a>
  </div>
  <div class="perfil perfil-activista">
    <a href="{{seleccionarperfil[idioma].urlActivista}}">
      <h3>{{seleccionarperfil[idioma].tituloActivista}}</h3>
      <img src="../../imagenes/activista-tlgbiq.png" alt="" />
    </a>
  </div>
  {% endif %}
</div>
