<div class="wrapper">
  <div class="por-que-hacemos-esta-web">
    <div class="accordion">
      <div class="accordion__section section_one active">
        <div class="accordion__header">
          <div class="accordion__indicator">
            <img src="../../imagenes/arrow_up.svg" alt="" />
          </div>
          <h2>{{porque[idioma].tituloPrincipal}}</h2>
        </div>
        <div class="accordion__content">
          {{porque[idioma].texto}}
          <p>{{porque[idioma].parrafo1}}</p>
          <p>{{porque[idioma].parrafo3}}</p>
        </div>
      </div>
      <div class="accordion__section section_two">
        <div class="accordion__header">
          <div class="accordion__indicator">
            <img src="../../imagenes/white-arrow_down.svg" alt="" />
          </div>
          <h2>{{porque[idioma].tituloSecundario}}</h2>
        </div>
        <div class="accordion__content">
          <ul>
            <li>{{porque[idioma].listItem1}}</li>
            <li>{{porque[idioma].listItem2}}</li>
            <li>{{porque[idioma].listItem3}}</li>
            <li>{{porque[idioma].listItem4}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
