<div class="wrapper">
  <div class="selecciona-tu-perfil">
    <div class="titulo-select-profile">
      <h4>{{seleccionarperfil[idioma].titulo}}</h4>
      <h2>{{seleccionarperfil[idioma].tituloXl}}</h2>
    </div>

    <div class="profile-cards">
      <div class="profile-card profile-queer">
        <div class="profile-card-left">
          <h3>{{seleccionarperfil[idioma].tituloQueer}}</h3>
          <p class="profile-card-text">
            {{seleccionarperfil[idioma].textoQueer}}
          </p>
          <a
            class="profile-card-button cta-profiles"
            href="{{seleccionarperfil[idioma].urlQueer}}"
          >
            {{seleccionarperfil[idioma].textoBoton}}
          </a>
        </div>
        <div class="profile-card-right">
          <img
            class="profile-card-image"
            src="{{'/imagenes/queer-de-barrio.png'}}"
            alt="Queer de barrio"
          />
        </div>
      </div>
      <div class="profile-card profile-activist">
        <div class="profile-card-left">
          <h3>{{seleccionarperfil[idioma].tituloActivista}}</h3>
          <p class="profile-card-text">
            {{seleccionarperfil[idioma].textoActivista}}
          </p>
          <a
            class="profile-card-button cta-profiles"
            href="{{seleccionarperfil[idioma].urlActivista}}"
          >
            {{seleccionarperfil[idioma].textoBoton}}
          </a>
        </div>
        <div class="profile-card-right">
          <img
            class="profile-card-image"
            src="{{'/imagenes/activista-tlgbiq.png'}}"
            alt="Activista TLGBIQ+"
          />
        </div>
      </div>
      <div class="profile-card profile-figure">
        <div class="profile-card-left">
          <h3>{{seleccionarperfil[idioma].tituloFigura}}</h3>
          <p class="profile-card-text">
            {{seleccionarperfil[idioma].textoFigura}}
          </p>
          <a
            class="profile-card-button cta-profiles"
            href="{{seleccionarperfil[idioma].urlFigura}}"
          >
            {{seleccionarperfil[idioma].textoBoton}}
          </a>
        </div>
        <div class="profile-card-right">
          <img
            src="{{'/imagenes/figura-publica.png'}}"
            alt="Figura pública"
            class="profile-card-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
