{# loop though site.languages #} {% for lgg in site.idioma %} {% if loop.first
%}
<ul class="switch-idioma">
  {% endif %} {# set translatedUrl to the homepage of that language by default
  #} {% set translatedUrl = "/" + lgg.codigo + "/" %} {# set current language
  class #} {% set activeClass = "is-active" if lgg.codigo == idioma else "" %}
  {# loop through all the content of the site #} {% for item in collections.all
  %} {# for each item in the loop, check if - its translationKey matches the
  current item translationKey - its locale matches the code of the language we
  are looping through #} {% if item.data.translationKey == translationKey and
  item.data.idioma == lgg.codigo %} {% set translatedUrl = item.url %} {% endif
  %} {% endfor %}

  <li class="switch-idioma__item">
    <a class="switch-idioma__link  {{ activeClass }}" href="{{ translatedUrl }}"
      >{{ lgg.etiqueta }}</a
    >
  </li>

  {% if loop.last %}
</ul>
{% endif %} {% endfor %}
